				
      <div id="existing-customer" class="" data-hook="login">
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div><!-- alert -->
          <% end %>
          <%= render :partial => 'spree/shared/login' %>
          <div class="text-center">
            <%# Spree.t(:or) %>
                <%# link_to Spree.t(:create_a_new_account), spree.signup_path %>
                <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
          </div><!-- text-center -->
          <div data-hook="login_extras"></div><!-- login_extras -->
      </div><!-- existing-customer-->

