<div class="product-intro">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">Tokyowheel Epic Performance System™</h2><h3>Epic 60 Wheelset (Front & Rear) + Epic 38 Front Wheel + Epic 88 Rear Wheel. The Wheel System You Need For Epic Performance In Every Condition.</h3>
    </div>
  </div><!-- row -->

 
	<div class="row">
  		<div class="col-sm-4">
          <h4>Quick Specs</h4>
          <div class="well">  
            <table class="table table-bordered table-condensed quick-specs"><tbody>
              <tr>
                <td><strong>Total Weight</strong></td>
                <td><strong class="text-success">1470g~1670g*</strong></td>
                
              </tr>
              <tr>
                <td><strong>Includes</strong></td>
                <td><strong>Epic 60 Wheel Set<br> 
                  Epic 38 Front Wheel<br>
                  Epic 88 Rear Wheel</strong></td>
              </tr> 
              <tr>
                <td><strong>Wheel Type</strong></td>
                <td><strong>Wheel Set (Front + Rear) + Front Wheel + Rear Wheel</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Type</strong></td>
                <td><strong>Clincher</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Material</strong></td>
                <td><strong>Full Carbon</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Depth</strong></td>
                <td><strong>38mm, 60mm, 60mm, 88mm</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Width</strong></td>
                <td><strong class="text-success">25.5mm</strong> ~ <strong class="text-success">27mm</strong></td>
              </tr>
              <tr>
                <td><strong>Wheel Size</strong></td>
                <td><strong>700c</strong></td>
              </tr>
               <tr>
                <td><strong>Hub</strong></td>
                <td><strong>Road</strong></td>
              </tr>
               <tr>
                <td><strong>Spoke Count</strong></td>
                 <td><strong>Front: 20, Rear: 24</strong></td>
              </tr>
              <tr>
                <td><strong>Rider Weight Limit</strong></td>
                <td><strong>231lbs / 105kg</strong></td>
              </tr>
           </tbody></table>
            <!-- <a href="#specs"class="btn btn-primary btn-block">See Full Specs</a> -->
            <small>*With Sapim CX-Ray Spokes and Tokyowheel Vapor Ceramic Hub</small>
          </div>
      </div><!-- col-sm-3 -->
      <div class="col-sm-8">
        <h4>Description</h4>
        <p>Tokyowheel Epic Performance System™ is a set of 4 wheels that allow you to use the best combination of wheels for every riding situation. For all-around riding and a balance of lightweight and aerodynamic performance, use the Epic 60 Front Wheel with the Epic 60 Rear Wheel. When conditions are windy, or involve a lot of climbing, switch to the Epic 38 Front Wheel to lighen your rotating mass and improve cross-wind stability. For long high speed rides on flat roads, use the Epic 88 Rear Wheel to dramatically reduce your aerodynamic drag, and increase efficiency over long distances.</p>
        <div class="characteristics">
         <h4>Characteristics</h4> 
        <h5 class="text-warning">Aerodynamics</h5>
       <p><strong>Low Drag</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;margin-left:5%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Stability in Windy Conditions</strong></p>
        
         <h5 class="text-danger">Weight</h5>
       <p><strong>Acceleration</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;margin-left:5%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Constant Speed</strong></p>
          
              <h5 class="text-success">Best Use</h5>
       <p><strong>Hills</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;margin-left:5%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Flats</strong></p>

        </div><!-- characteristics -->
        
      </div><!-- col-sm-3 -->
	</div>
  </div><!-- container -->
</div><!-- product-intro -->