<div class="product-intro">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">Tokyowheel Epic 38-50 Wheelset</h2><h3>Full Carbon Clincher Wheelset with 38mm Deep Front, and 50mm Deep Rear, Extra Wide Rims, Aero Bladed Spokes, and Road Bike Hubs</h3>
    </div>
  </div><!-- row -->

 
	<div class="row">
  		<div class="col-sm-4">
          <h4>Quick Specs</h4>
          <div class="well">  
            <table class="table table-bordered table-condensed quick-specs"><tbody>
              <tr>
                <td><strong>Total Weight</strong></td>
                <td><strong class="text-success">1440g*</strong></td>
                
              </tr>
              <tr>
                <td><strong>Rim Type</strong></td>
                <td><strong>Clincher</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Material</strong></td>
                <td><strong>Full Carbon</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Depth</strong></td>
                <td><strong>Front: 38mm / Rear: 50mm</strong></td>
              </tr>
              <tr>
                <td><strong>Rim Width</strong></td>
                <td><strong>Front: </strong><strong class="text-success">25.5mm</strong><strong> / Rear: </strong><strong class="text-success">26mm</strong></td>
              </tr>
              <tr>
                <td><strong>Wheel Size</strong></td>
                <td><strong>700c</strong></td>
              </tr>
               <tr>
                <td><strong>Hub</strong></td>
                <td><strong>Road</strong></td>
              </tr>
               <tr>
                <td><strong>Rider Weight Limit</strong></td>
                <td><strong>220lbs / 100kg</strong></td>
              </tr>
           </tbody></table>
            <a href="#specs"class="btn btn-primary btn-block">See Full Specs</a>
            <small>*With Sapim CX-Ray Spokes and Tokyowheel Vapor Ceramic Hub</small>
          </div>
      </div><!-- col-sm-3 -->
      <div class="col-sm-8">
        <h4>Description</h4>
        <p>Tokyowheel™ Epic 38-50 is the Best All Around Carbon Clincher Road Bike & Triathlon Wheelset. Recommended for riders that want a very aerodynamic all around wheelset available for long road bike rides and triathlons.</p> 
          <p>Epic 38-50 is built around the asymmetrical 38mm deep front rim and a 50mm deep rear rim. Combining the aerodynamic advantage of the Epic 50 Rear, with the light weight crosswind stability of the Epic 38 Front, to create a 'best of both worlds' wheelset. Built around the Epic, 100% carbon, clincher rim, this wheelset is designed for dynamic riding in a variety of conditions, especially fast group riding and hill climbing.  Tokyowheel Vapor™ road bike hubs eliminate internal friction and boost riding efficiency and durability. </p>

<p>Feel confident when you apply the brakes onto the DuraHeat-R™ High-Temperature Carbon braking surface. Not only does it stop you quicker, with greater stability, but it's much more durable on brake heavy rides, like long descents. Ride fast, ride far with Tokyowheel™ Epic 38-50 carbon wheels.</p>
      
          <div class="characteristics">
         <h4>Characteristics</h4> 
        <h5 class="text-warning">Aerodynamics</h5>
       <p><strong>Low Drag</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;margin-left:40%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Stability in Windy Conditions</strong></p>
        
         <h5 class="text-danger">Weight</h5>
       <p><strong>Acceleration</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 33%;margin-left:15%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Constant Speed</strong></p>
          
              <h5 class="text-success">Best Use</h5>
       <p><strong>Hills</strong></p> 
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;margin-left:10%;">
  </div>
</div><!-- progress bar -->
        <p class="text-right"><strong>Flats</strong></p>

        </div><!-- characteristics -->
      </div><!-- col-sm-3 -->
	</div>
  </div><!-- container -->
</div><!-- product-intro -->

<div class="rim">
<div class="container">
  <div class="row ">
  <h2 class="product-info-title text-center">Rim</h2>
  </div><!-- row -->
      <div class="row featurette">
       <div class="col-md-7">
          <h2 class="featurette-heading">EPIC 38mm Deep Carbon Front Rim. <span class="text-muted"> For Stability and Light Weight.</span></h2>
      
       <p class="lead">The Epic 38mm rim is the most stable, best handling rim we offer. Using the Epic 38 on the front wheel creates a wheelset that handles great in all conditions. With the Epic 38 as your front wheel, you will have great handling in any condition.</p>
        </div>
         <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-front-side-hero_large.jpg?16125" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-front-side-hero_large.jpg?16125" alt="Tokyowheel Epic 38 Carbon Road Bike Front Wheel">
        </div>
     
      </div><!-- row featurette-->
  <hr class="featurette-divider product">
   <div class="row featurette">
     
         <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-rear-side-hero_large.jpg?16125" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-rear-side-hero_large.jpg?16125" alt="Tokyowheel Epic 50 Carbon Road Bike Rear Wheel">
        </div>
       <div class="col-md-7">
          <h2 class="featurette-heading">EPIC 50mm Deep Carbon Rear Rim. <span class="text-muted"> For Aerodynamics and Speed.</span></h2>
      
       <p class="lead">The Epic 50mm rim is our best handling rim that has a noticeable aerodynamic advantage. Using the Epic 50 on the rear wheel (which can not turn, and therefore is not as affected by strong crosswinds), allows the benefit of the Epic 50's aerodynamics and even better handling and stability.</p>
        </div>
      </div><!-- row featurette-->
  <hr class="featurette-divider product">
  
   <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Full Carbon Clincher. <span class="text-muted"> High Strength Carbon for Lightweight Performance.</span></h2>
          <p class="lead">Using the latest carbon forming technology, we are able to build a very strong rim from carbon only. A critical area for durability, the tire bead hook of the EPIC clincher rim is up 73% stronger than other carbon clincher rims. This give you a wheel that is very light with positive braking performance and reliable durability.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-clincher-rim-500x500_large.jpg?15889" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-clincher-rim-500x500_large.jpg?15889" alt="Generic placeholder image">
        </div>
      </div><!-- row featurette-->
      <hr class="featurette-divider product">
  
       <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-50-rim-shape_large.png?16141" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-50-rim-shape_large.png?16141" alt="Extra Wide Carbon Rim">
        </div>
           <div class="col-md-7">
          <h2 class="featurette-heading">Extra Wide 25.5mm and 26mm Rims <span class="text-muted"> Increased Aerodynamics and Improved Handling.</span></h2>
          <p class="lead">The extra wide rim has multiple benefits. The rim's 25.5mm and 26mm max width improves aerodynamics by creating a more uniform airflow over the wheel, balancing the aerodynamic forces of the rim with the leading edge of the tire. The 25mm width at the tire mount and braking surface spread out out the tire, which creates a wider contact patch between the tire and the road resulting in improved handling and reduced rolling resistance. The 25mm outter rim also allows the wheel to fit into most frame and brake setups.</p>
        </div>
      </div><!-- row featurette-->
  <hr class="featurette-divider product">
  
  
 <div class="row featurette">
   <div class="col-md-7">
          <h2 class="featurette-heading">DuraHeat-R™ High-Temperature Carbon. <span class="text-muted"> Better Braking Performance.</span></h2>
          <p class="lead">DuraHeat-R™ High-Temperature Carbon braking surface. Not only does it stop you quicker, with greater stability, but it's much more durable on brake heavy rides, like long descents.</p>
        </div>
   <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/duraheat-r_41001dd0-366f-48dc-b412-2167c504cbbb_large.png?15907" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/duraheat-r_41001dd0-366f-48dc-b412-2167c504cbbb_large.png?15907" alt="DuraHeat-R™ Carbon Braking Surface">
        </div>
      </div><!-- row featurette-->
  <hr class="featurette-divider product">
  </div><!-- container -->
    <div><!-- rim -->
 
      
      <div class="spokes row-bg-dark">
<div class="container">
  <div class="row ">
 <h2 class="product-info-title text-center">Spokes</h2>
  </div><!-- row -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">3.2mm Aero Bladed Spokes. <span class="text-muted"> Increase Wheel Strength and Improve Aerodynamic Speed.</span></h2>
          <p class="lead">Standard 3.2mm Aero Bladed spokes comes standard on all Tokyowheels, and offer the improved aerodynamics of the bladed spoke shape.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/3.2mm-Aero-Bladed-Spokes_large.jpg?15886" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/3.2mm-Aero-Bladed-Spokes_large.jpg?15886" alt="3.2mm Aero Bladed Spokes">
        </div>
      </div><!-- row featurette-->
  <hr class="featurette-divider product">
   <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/sapim-cx-ray-sils-spoke-nipple_large.jpg?15884" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/sapim-cx-ray-sils-spoke-nipple_large.jpg?15884" alt="Sapim Cx-Ray Spokes & Sapim Sils Nipples">
        </div>
     <div class="col-md-7">
          <h2 class="featurette-heading">Sapim CX-Ray. <span class="text-muted"><span class="text-warning">Optional</span> Premium Spokes.</span></h2>
      
       <p class="lead">Arguably the best spokes in the world. The aerodynamic shape of the CX-Ray is also 30% lighter than standard round spokes.</p>
     <a class="btn btn-primary" data-toggle="modal" href="#sapim" >Learn More</a>  
     </div>
      </div><!-- row featurette-->
     <hr class="featurette-divider product">
  </div><!-- container -->
      </div><!-- Spokes -->
      
        <div class="hub">
<div class="container">
  <div class="row ">
  <h2 class="product-info-title text-center">Hub</h2>
  </div><!-- row -->
      

   <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-road-hub-set_large.jpg?15882" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-road-hub-set_large.jpg?15882" alt="Tokyowheel Vapor Hubs">
        </div>
     <div class="col-md-7">
          <h2 class="featurette-heading">Tokyowheel Vapor. <span class="text-muted"> Standard Road Bike Hubs.</span></h2>
       <p class="lead">Lightweight, smooth rolling, and durable. Vapor hubs, feature a 6 pawl cassette (Industry standard is 3 pawls), for better power engagement to the wheel. With 4 sealed cartridge bearings in the rear hub and 2 in the front, Vapor hubs are great all around durable road bike hubs.</p>
        </div>
      </div><!-- row featurette-->
    <hr class="featurette-divider product">
  <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tokyowheel Vapor Ceramic. <span class="text-muted"><span class="text-warning">Optional</span> Lighter Ceramic 4 Bearing Hubs.</span></h2>
          <p class="lead">A lighter version of our Vapor hub, with ceramic bearings for the ultimate in low friction rolling. 4 USA Enduro Ceramic bearings are used in each of the front and rear hubs (Industry standard hubs use only 2 bearings per hub). The extra 2 bearings per hub distribute forces across a greater number of bearing balls and improve durability and bearing life.<small>Get this hub upgrade and we will include Titanium quick release skewers.</small></p>
    <a class="btn btn-primary" data-toggle="modal" href="#ceramic-hubs">Learn More</a>    
    </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/jpeg-3_large.jpeg?15876" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/jpeg-3_large.jpeg?15876" alt="Tokyowheel Vapor Ceramic Bearing Hubs">
        </div>
      </div><!-- row featurette-->
   <hr class="featurette-divider product">
  <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/dt-swiss_2402-straight-pull-hubset_hero_large.png?28489" data-src="https://cdn.shopify.com/s/files/1/0210/5956/files/dt-swiss_2402-straight-pull-hubset_hero_large.png?28489" alt="DT Swiss 240s Straight Pull Hubs">
        </div>
     <div class="col-md-7">
          <h2 class="featurette-heading">DT Swiss 240s Straight Pull. <span class="text-muted"><span class="text-warning">Optional </span>Premium Road Bike Hubs.</span></h2>
       <p class="lead">One of the most well known names in hubs. DT Swiss components have a long history of quality and high performance. <small>Get this hub upgrade and we will include Titanium quick release skewers.</small></p>
    <a class="btn btn-primary" data-toggle="modal" href="#dtswiss240" >Learn More</a>   
    </div>
      </div><!-- row featurette-->
      <hr class="featurette-divider product">
  <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Tokyowheel Vapor Disc. <span class="text-muted"><span class="text-warning">Optional</span> Road & Cyclocross Disc Brake Hubs.</span></h2>
          <p class="lead">Get utimate stopping power with the lightweight road and cyclocross Vapor Disc hubset. 
            <small>Get this hub upgrade and we will include extra-strong alloy release skewers.</small></p>
    <a class="btn btn-primary" data-toggle="modal" href="#disc">Learn More</a>    
    </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel_vapor_disc_hub_set_large.jpg?29438" data-src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel_vapor_disc_hub_set_large.jpg?29438" alt="Tokyowheel Vapor Disc Hubs">
        </div>
    </div><!-- row featurette-->
      <hr class="featurette-divider product">
  </div><!-- container -->
      </div><!-- hub -->
      
      <div class="accessories row-bg-medium">
<div class="container">
  <div class="row ">
    <h2 class="product-info-title text-center">Accessories</h2>
  </div><!-- row -->
  <div class="row ">
    <div class="col-md-3 col-sm-6">
<div class="well text-center">
  	<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-quick-release-skewer_medium.jpg?15866" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-quick-release-skewer_medium.jpg?15866" alt="Tokyowheel Carbon Wheels" class="img-responsive">
</div>
      <h4>Quick Release Skewers <span class="text-success">Included</span></h4>
      <p>Choose any hub upgrade and we will also upgrade your Quick Release Skewers to Titanium.</p>
    </div><!-- col-sm-3 -->
   <div class="col-md-3 col-sm-6">
<div class="well text-center">
  	<img data-src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-ceramic-champion-brake-pads-2pairs_medium.jpg?29191" src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-ceramic-champion-brake-pads-2pairs_medium.jpg?29191" alt="Tokyowheel Ceramic Champion Brake Pads" class="img-responsive">
</div>
      <h4>Brake Pads <span class="text-success">Included</span></h4>
     <p>Tokyowheel Ceramic Champion™ Carbon Brake Pads (1 Set Per Wheel). We also recommend Swiss Stop Yellow King Brake Pads.</p> 
         
    </div><!-- col-sm-3 -->
    <div class="col-md-3 col-sm-6">
<div class="well text-center">
  
  	<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-epic-50-rim-closeup_medium.jpg?15875" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-epic-50-rim-closeup_medium.jpg?15875" alt="Tokyowheel Carbon Wheels" class="img-responsive">
</div>
      <h4>Rim Strips <span class="text-success">Included</span></h4>
      
      <p>Pre-Installed Nylon Rim Strips</p>
    </div><!-- col-sm-3 -->
    <div class="col-md-3 col-sm-6">
<div class="well text-center">
  	<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-valve-extensions_medium.jpg?15875" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-valve-extensions_medium.jpg?15875" alt="Tokyowheel Carbon Wheels" class="img-responsive">
</div>
      <h4>60mm Valve Extensions <span class="text-success">Included</span></h4>
      <p>Use standard tubes, and extend the valve length to accommodate deep carbon rims. </p>
    </div><!-- col-sm-3 -->
    
    </div><!-- row -->
    <hr class="featurette-divider product">
</div><!-- container -->
</div><!-- accessories -->
      
      

<div id="specs">
  <div class="container">
    <div class="row">
    <h2 class="product-info-title text-center">Detailed Specs</h2>
      <div class="col-md-10 col-md-offset-1">
        <table class="table table-condensed table-striped table-hover">
<tbody >
<tr>
<td>
  <strong>Recommended For</strong>
</td>
<td>
Road Bikes, Triathlon Bikes, Time Trial Bikes.
</td>
</tr>
<tr>
<td>
<strong>Notable Features</strong>
</td>
<td>
88mm carbon clincher rim, Aero Bladed Spoke, and Ultralight Smooth Rolling Road Bike Hubs
</td>
</tr>
<tr>
<td>
<strong>Product Includes</strong>
</td>
<td>
Complete wheels, Nylon Rim Strips, Quick Release Skewers, Tokyowheel Ceramic Champion™ Carbon Brake Pads, Value Extensions
</td>
</tr>
<tr>
<td>
<strong>Tire Compatibility</strong>
</td>
<td>
Clincher
</td>
</tr>
<tr>
<td>
<strong>Tube Compatibility</strong>
</td>
<td>
Presta
</td>
</tr>
<tr>
<td>
<strong>Rims</strong>
</td>
<td>
  100% Carbon Fiber Clincher 700c, Front: 38mm Deep 25.5mm Wide, Rear:50mm Deep 26mm wide (25mm wide braking surface Front and Rear), UD Matte Finish
</td>
</tr>
<tr>
<td>
<strong>Braking track</strong>
</td>
<td>
DuraHeat-R™ High-Temperate Carbon braking surface
</td>
</tr>
<tr>
<td>
<strong>Hubs</strong>
</td>
<td>
<p>Tokyowheel Vapor™ Road Bike Hubs (Black). 6 Pawl, Cartridge bearing. Built for us by hub maker Bitex. Front: 80g, Rear: 225g. <br>
Optional Upgrade: Tokyowheel Vapor Ceramic™ USA Enduro Ceramic bearing Hubs. Front: 65g, Rear:192g<br>
Optional Upgrade: DT Swiss 240s Hubs. Front: 105g, Rear: 209g<br>
  Optional Upgrade: Tokyowheel Vapor Disc Hubs. Front: 125g, Rear: 230g </p>
</td>
</tr>
<tr>
<td>
<strong>Axle Width</strong>
</td>
<td>
<p>Front: 100mm Rear:130mm<br>
    Optional Upgrade: Tokyowheel Vapor Disc Hubs. Front: 100mm, Rear: 135mm </p>
</td>
</tr>
<tr>
<td>
<strong>Cassette Body </strong>
</td>
<td>
Shimano 8.9.10. 11sp.  Campagnolo 9.10.11sp.
</td>
</tr>
<tr>
<td>
<strong>Spokes</strong>
</td>
<td>
Aero Bladed Spokes (Black) by Pillar<br>
Optional Upgrade: Sapim CX-Ray (Black)
</td>
</tr>
<tr>
<td>
<strong>Nipples</strong>
</td>
<td>
Alloy (Black) by Pillar<br>
Optional Upgrade: Sapim SILS (Black)
</td>
</tr>
<tr>
<td>
<strong>Spoke Count</strong>
</td>
<td>
Front: 20, Rear: 24
</td>
</tr>
<tr>
<td>
<strong>Lacing</strong>
</td>
<td>
Front: Radial, Rear: 2x
</td>
</tr>
  <tr>
<td>
<strong>Rim Weight</strong>
</td>
<td>
  Front: 450g Rear: 510g
</td>
</tr>
<tr>
<td>
<strong>Weight</strong>
</td>
<td>
1440g/set +/-20g, (w/o, QR)<br>
  *With Sapim Spokes and Vapor Ceramic Hub
</td>
</tr>
<tr>
<td>
<strong>Included Accessories</strong>
</td>
<td>
Quick Release Skewers (Black), Tokyowheel Ceramic Champion™ Carbon Brake Pads, Nylon Rim Strips, valve Extensions
</td>
</tr>
   <tr>
<td><strong>Rider Weight Limit</strong></td>
<td>220lbs / 100kg</td>
</tr>
</tbody>
</table>
      </div>
    </div>
  </div>
</div>
