<% if defined?(image) && image %>
  <%= image_tag image.attachment.url(:product), :itemprop => "image" %>
<% else %>
  <%= product_image(@product, :itemprop => "image") %>
<% end %>


  <div class="row">
    <div class="col-md-6">
      <div id="gallery-links">
      <div class="row main-image-row">
          <a href="{{ product.featured_image.src | product_img_url: 'grande' }}"class="thumbnail col-md-12 main-product-image" title='{{ product.featured_image.alt }}' data-gallery>
            <img class="img-responsive" src="{{ product.featured_image.src | product_img_url: 'large' }}" alt="{{ product.title | escape }}" >
          </a>
      </div>
      
        {% if product.images.size > 1 %}
      
      <div class='row'>  
        {% for image in product.images | offset: 1 %}
        <div class="col-md-3 col-xs-3">
        <a href="{{ image.src | product_img_url: 'grande'}}" class="thumbnail product-thumbnails img-responsive" title='{{ image.alt }}' data-gallery>
            {{ image.src | product_img_url: 'small' | img_tag }}
          </a>
        </div>
        {% cycle '', '','','</div><div class="row">' %}
        {% endfor %}
        </div>
        {% endif %}
      </div><!-- end gallery links -->
      {% include 'blueimp-gallery-modal' %}
      {% if product.tags contains 'wheel'%}
      
      {% if customer.tags contains 'test'%}
      <!-- Customer Video Reviews -->
      <h2>Product Videos</h2>
      <div class='row video-reviews'>
        <div class='col-md-12'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="SaH2wsn99KY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      </div><!-- row -->
      {% endif %}
      
      
      <!-- Customer Video Reviews -->
      <h2>Tokyowheel Factory Tour Video</h2>
      <div class='row video-reviews'>
        <div class='col-md-12'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="OZspU8THG5s" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      </div><!-- row -->
      
      <!-- Customer Video Reviews -->
      <h2>Customer Video Reviews</h2>
            <p>*<small class="text-muted"> Wheels in the video reviews may be different models than the wheels sold on this page, and are included for general information purposes.</small></p>
     
      
      <div class='row video-reviews'>
         <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qUynzvS2AUM" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
        
        <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="jrLxNcWZgYY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
        
      <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><iframe src="//player.vimeo.com/video/97573706" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
   </div><!-- col -->
   
       <div class='col-md-6 col-sm-6'>
        <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="aE7WhBQUBoc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      
   <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qn-ljre4ujw" data-ratio="16:9">Loading...</div></div>
   </div><!-- col -->
   
   
   <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ijy1QaitM-M" data-ratio="16:9">Loading...</div></div>
   </div><!-- col -->
   
      <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="dlniho3JPOc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->      

      <div class='col-md-6 col-sm-6'>
        <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="cP56-6v-BNg" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->      

      <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="LVLHvwoIC-s" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
        
        <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="t8V84T_3K9Y" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
      
         <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ABBZRReTRFY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 

        
      </div><!-- row -->
      
      <!-- End Customer Video Reviews -->
      {% endif %}
    </div><!-- end col-md-6 -->