  <div class="row">
    <div class="col-md-6">
      <div id="gallery-links">
      <div class="row main-image-row">
	      <%= link_to(image_tag(@product.images[0].attachment.url(:large), class: "img-responsive"), @product.images[0].attachment.url(:grande), :class => "thumbnail col-md-12 main-product-image", :data => { :gallery => ''}) %>
         </div><!-- row -->
		 
	  <% if (@product.images + @product.variant_images).uniq.size > 1 %>
	  <div class='row'>  
	      <% @product.images.drop(1).each.with_index(1) do |i,e| %>
		   <div class="col-md-3 col-xs-3">
	          <%= link_to(image_tag(i.attachment.url(:small), class: "thumbnail product-thumbnails img-responsive"), i.attachment.url(:grande), :data => { :gallery => ''}) %>
		  </div><!-- col -->
		  	<% if (e/4) == 1 %>
		  		</div><div class="row">
		  <% end %>
		  <% end %>
		 </div><!-- row --> 
	 <% end %>
	 

	      <% if @product.has_variants? %>
		  <div class='row'>  
	        <% @product.variant_images.each.with_index do |i,e| %>
	          <% next if @product.images.include?(i) %>
	          <div class="col-md-3 col-xs-3">
	            <%= link_to(image_tag(i.attachment.url(:small), class: "thumbnail"), i.attachment.url(:grande), :data => { :gallery => ''}) %>
			  </div><!-- col -->
			  	<% if (e/4) == 1 %>
			  		</div><div class="row">
			  <% end %>
	        <% end %>
	      <% end %>
	    </div><!-- row -->
	  </div><!-- end gallery links -->
<%= render :partial => 'spree/shared/blueimp_gallery_modal' %>

<% if @product.taxons.map(&:name).include?("Wheel") %>
<% if try_spree_current_user.try(:has_spree_role?, "admin") %>
   <div class="alert alert-warning" role="alert">Visible Only To ADMIN</div>
      <!-- Customer Video Reviews -->
      <h2>Product Videos</h2>
      <div class='row video-reviews'>
        <div class='col-md-12'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="SaH2wsn99KY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      </div><!-- row -->
<% end %>
      
      
      <!-- Customer Video Reviews -->
      <h2>Tokyowheel Factory Tour Video</h2>
      <div class='row video-reviews'>
        <div class='col-md-12'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="OZspU8THG5s" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      </div><!-- row -->
      
      <!-- Customer Video Reviews -->
      <h2>Customer Video Reviews</h2>
            <p>*<small class="text-muted"> Wheels in the video reviews may be different models than the wheels sold on this page, and are included for general information purposes.</small></p>
     
      
      <div class='row video-reviews'>
         <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qUynzvS2AUM" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
        
        <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="jrLxNcWZgYY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
        
      <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><iframe src="//player.vimeo.com/video/97573706" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
   </div><!-- col -->
   
       <div class='col-md-6 col-sm-6'>
        <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="aE7WhBQUBoc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
      
   <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qn-ljre4ujw" data-ratio="16:9">Loading...</div></div>
   </div><!-- col -->
   
   
   <div class='col-md-6 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ijy1QaitM-M" data-ratio="16:9">Loading...</div></div>
   </div><!-- col -->
   
      <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="dlniho3JPOc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->      

      <div class='col-md-6 col-sm-6'>
        <div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="cP56-6v-BNg" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->      

      <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="LVLHvwoIC-s" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
        
        <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="t8V84T_3K9Y" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
      
         <div class='col-md-6 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ABBZRReTRFY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 

        
      </div><!-- row -->
      
      <!-- End Customer Video Reviews -->
	  <% end %>
	  <%# end taxon wheel%>
      
    </div><!-- end col-md-6 -->