
<div class="container">
	<div class="row">
    
  			<div class="col-md-3">
              
                <div class="list-group" id="sidebar" >
               <!--   <a href="#buying-guides" class="list-group-item">Buying Guides</a> -->
                  <a href="#about-tokyowheel" class="list-group-item">About Tokyowheel</a>
                  <a href="/pages/reviews" class="list-group-item">Reviews</a>
                </div>
              
      		</div>  <!-- col-md-3 -->
      		<div class="col-md-9">
            <div class="row ">
              	<h2 id="about-tokyowheel">About Tokyowheel</h2>
              <h5>Tokyowheel is dedicated to bringing premium carbon wheels to cyclists around the world. </h5>

              <h4>Our History</h4>

              <p>Our company was founded in 2010 by James Ferrer in Tokyo, Japan. With a background in design and nuclear physics and a passion for cycling, James saw a need for better carbon wheels in Japan. In 2013 Tokyowheel began to service customers outside of Japan by making our wheels available worldwide. We believe in good design, solid engineering, and the adventure of riding. </p>
</div><!-- row --> 
			  <div class="row">
              <div class="col-sm-6">
                <h4>CEO, James Ferrer</h4>
                <div class="thumbnail">
                <img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-james-ferrer_large.jpg?22633" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-james-ferrer_large.jpg?22633" class='img-responsive' alt='Tokyowheel CEO, James Ferrer'>
                </div><!-- thumbnail -->
                </div><!-- col-sm-6 -->
                <div class="col-sm-6">
                  <h4>Tokyowheel, Japan Office</h4>
                  <div class="thumbnail">
                  <img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/n9_large.jpg?16560" src="http://cdn.shopify.com/s/files/1/0210/5956/files/n9_large.jpg?16560" class='img-responsive' alt='Tokyowheel Japan Office'>
                  </div><!-- thumbnail -->
                  </div><!-- col-sm-6 -->
      		
              </div><!-- row -->   
             
             
  	</div><!-- row -->
</div><!-- container -->
