 {% comment %}  <script>
  //<![CDATA[
    var _curebitq = _curebitq || [];
    _curebitq.push(['init', {
      site_id: 'tokyowheel', // REQUIRED - Curebit Site ID
      // server: 'https://www.curebit.com' // OPTIONAL - use your own domain, that suppose to be setup as alias to curebit.com (this option is only possible for Enterprise client)
    }]);

    _curebitq.push(['register_affiliate', {
      iframe: { // REQUIRED - html attributes for iframe tag to fit page design
        width: '100%', // REQUIRED - width of the iframe
        height: 960, // REQUIRED - initial height of the iframe. Will be automatically updated if responsive option is set to true.
        //container: "id", // OPTIONAL - Tell Curebit where to insert the iframe (ID attribute). See Asynchronous Integration for more details.
        id: 'new_curebit_affiliate_member' // OPTIONAL - any other HTML attribute
      },
  
      affiliate_member: { // OPTIONAL - curebit will ask person to signup in case when his email is not given by merchant
        email: '{{customer.email}}', // OPTIONAL - customer email
        first_name: '{{customer.first_name}}', // OPTIONAL - customer first name
        last_name: '{{customer.last_name}}', // OPTIONAL - customer last name
        customer_id: '', // OPTIONAL - customer ID from your site
        traffic_source: '' // OPTIONAL - indicate person traffic source. Can be used as segmentation parameter in reporting.
      },
      responsive: true, // OPTIONAL - fit iframe into viewport (also on resize) and allow Curebit display mobile templates
      // device: 'desktop', // OPTIONAL - enforce mobile/tablet/desktop view or skip this to allow Curebit choose corresponding template
      campaign_tags: ['ambassador'] // OPTIONAL - campaign tags for offer targeting
    }]);
  //]]>
</script>
<script src="//d2jjzw81hqbuqv.cloudfront.net/integration/curebit-1.0.min.js" type="text/javascript"></script>
<!-- End Curebit integration code -->
   {% endcomment %} 


  <div class="jumbotron jumbotron6">
  <div class="container text-center">
    <div class='row'>
  <div class="col-sm-6 col-md-7">
    {% comment %}<img id='jumbotron1-hero-image' class="img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-ambassador-logo-white_medium.png?26988" alt="Tokyowheel Ambassador">{% endcomment %}
<!--    <h1>Help Us Grow And Get Rewards</h1> -->
        <h1>Earn Free Gear & Cash. Join #TeamTokyowheel</h1>
    <h2>Tokyowheel is built on the support of people, like you!</h2>
   
    </div><!-- col -->
    <div class="col-sm-6 col-md-5 signup-well"> 

      <div class='well' style='color: #333;'>
       
        
        <div class="alert alert-success" role="alert">
        <h2 class=''><strong><em>GET SPONSORED</em></strong><br><small>RIDE, PROMOTE, AND EARN!</small></h2>
        </div><!-- well -->
       
        <h3>Become a Tokyowheel Ambassador and Earn Exclusive Free Gear & Cash!</h3>
        <p class='text-left'><small><i class="fa fa-info-circle text-muted"></i> It's 100% free and always will be.<br>
          <i class="fa fa-info-circle text-muted"></i> No purchase or payment necessary.</small></p>
      <div class='well well-lg'>
  <button class="btn btn-lg btn-warning btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Get Started!</button>      

              </div><!-- well --> 
        </div><!-- well --> 
    </div><!-- col -->
    </div><!-- row -->
    </div><!-- container -->
</div><!-- jumbotron -->
  

  
  
<div class="modal fade opt-in-modal" id="opt-in-modal-ambassador" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
<div class="modal-body">
<div class="well">
  <h2 class="form-signin-heading text-center">Join Team Tokyowheel<br><em class='text-info'>Sign up and get started today!</em></h2>
  {% form 'create_customer' %}

      <!-- Display any creation errors. -->
      {% if form.errors %}
      <div class="alert alert-danger">
            {% for field in form.errors %}
        <strong>{{ field | capitalize }}</strong>  {{ form.errors.messages[field] }}.<br>
            {% endfor %}
        </div>      
      {% endif %}

      <!-- Name -->
      <div class="form-group">
    <div class='row'>
      <div class='col-sm-6'>
      <input  id="first_name" class="form-control input-lg" placeholder="First Name" name="customer[first_name]" type="text" />
      </div><!-- col -->
      <div class='col-sm-6'>
      <input  id="last_name" class="form-control input-lg" placeholder="Last Name" name="customer[last_name]" type="text" />
      </div><!-- col -->
    </div><!-- row -->
    
    <input  id="email" class="form-control input-lg" placeholder="Your Best Email"  name="customer[email]" type="text" />
    <input type="password" class="form-control input-lg" placeholder="Create a Password" id="customer[password]" name="customer[password]" />
        <p><i class='fa fa-lock text-yellow'></i> <small>We Respect Your Privacy</small></p>
    <button type="submit" name="submit" class="btn btn-lg btn-warning btn-block">Get Started!</button>
  </div><!-- form group -->
      
    {% endform %}
  

  
  
  
</div>
<!-- well --></div>
</div>
<!-- /.modal-content --></div>
<!-- /.modal-dialog --></div>
<!-- /.modal -->

<div class='row'>
  <div class='col-sm-12 text-center'>
    <h2>Already an Ambassador?</h2>
    <h4 class='text-muted'>Login here to share and manage your account</h4>
    <a href='/login' class='btn btn-primary btn-lg'>Ambassador Login</a>
  </div><!-- col -->
</div><!-- row -->
<hr>
<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">How Does it Work?</h2>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
  <h3>The Tokyowheel Ambassador Program is our way of sponsoring cyclists, rewarding word of mouth referrals, and creating a fun system for our customers to earn more gear.</h3>
    </div>
  </div><!-- row -->

<div class='row'>
  <div class='col-sm-4 text-center'>
    <div class='circle'><span>1</span></div>
    <h3 class='circle-heading'>Signup Here</h3>
    <p class='text-left text-muted'>We don't charge any fees for becoming an ambassador and there is no purchase necessary to get your rewards. You can signup here to learn more with no commitment or obligations necessary. Give it a try and have fun.</p>
  <div class='well'>
    <button class="btn btn-lg btn-warning btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Become an Ambassador</button>      
    </div><!-- well -->
  </div><!-- col -->
    <div class='col-sm-4 text-center'>
    <div class='circle'><span>2</span></div> 
      <h3 class='circle-heading'>Get Your Unique Referral Link</h3>
      <p class='text-left text-muted'>Once you are signed up, you will immediately receive a personalized referral link. When someone clicks this link they will be directed to www.tokyowheel.com and tagged as your referral.</p>
  </div><!-- col -->
    <div class='col-sm-4 text-center'>
    <div class='circle'><span>3</span></div> 
      <h3 class='circle-heading'>Share Your Referral Link</h3>
      <p class='text-left text-muted'>Include your referral URL in your tweets, emails, and posts about Tokyowheel to be credited with the referrals. There is no limit to how often you distribute your link or which channels you can use. As long as you can get a URL in a piece of communication, you can use that medium to promote Tokyowheel.</p>
  </div><!-- col -->
</div><!-- row -->
  <hr>
  <div class='row'>
  <div class='col-sm-4 text-center'>
    <div class='circle'><span>4</span></div>
    <h3 class='circle-heading'>Earn Reward Points</h3>
    <p class='text-left text-muted'>Every time someone clicks your URL to access the Tokyowheel website, that visitor will be “tagged” so that you get credited for their activity. You get points for all their purchases within 365 days of when they clicked your link.</p>
  </div><!-- col -->
    <div class='col-sm-4 text-center'>
    <div class='circle'><span>5</span></div> 
      <h3 class='circle-heading'>Track Your Stats</h3>
      <p class='text-left text-muted'>Once you’ve become a Tokyowheel ambassador, we give you the ability to track your progress and see how successful your advocacy is. You can easily see which media channels are producing results and how many people you have successfully referred.<br>
        On your dashboard, you will see how many commissions you’ve earned, how many times your URL has been clicked, and how much money or how many points you have earned as a result of your sharing.</p>
  </div><!-- col -->
    <div class='col-sm-4 text-center'>
    <div class='circle'><span>6</span></div> 
      <h3 class='circle-heading'>Redeem Your Points For Gear & Cash</h3>
      <p class='text-left text-muted'>We make it as easy as possible for you to access the rewards you earn. Use your dashboard to redeem points for rewards and they are automatically shipped to you, or in the case of cash you are paid you via Paypal.</p>
  </div><!-- col -->
</div><!-- row -->
  <hr>
</div><!-- container -->
<div class='row-bg-md'>
  <div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2 class=" product-info-title">What Are The Rewards?</h2><h2>You Can't Buy Them, You Can Only Earn Them!</h2><h4>The Ambassador Rewards are not available for purchase. They are all special edition products for Tokyowheel Ambassador Rewards only.</h4>
  </div><!-- col -->
  </div><!-- row -->
 <hr>
    <div class='row'>
      
      <div class="col-sm-12 text-center">
    <div class="panel panel-success">
  <div class="panel-body">
    <h2 class='text-success'>Earn 15% In Reward Points For Every $100 In Referrals</h2>
  </div><!-- panel body -->
</div><!-- panel -->
    </div><!-- col -->
      
    </div><!-- row -->
        <hr>
    <div class="row">

<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 50 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">$10 Tokyowheel Giftcard</span>
    <div class="text-muted">Extra Information</div>
    
    </div>
    <div class=""><small class="muted">Reward Points </small><span class="money text-success">$10.00</span></div>
<a href="/products/epic-50-carbon-clincher-wheelset" class="btn btn-default btn-block product-box-button ">Learn More</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 60 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">$100 Tokyowheel Giftcard</span>
    <div class="text-muted">Extra Information</div>
    
    </div>
<div class=""><small class="muted">Reward Points </small><span class="money text-success">$100.00</span></div>
<a href="/products/epic-60-carbon-clincher-wheelset" class="btn btn-default btn-block product-box-button ">Learn More</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-88-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 88 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">$1,000 Tokyowheel Giftcard</span>
    	<div class="text-muted">Extra Information</div>    
    </div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$1,000.00</span> </div>
<a href="/products/epic-88-carbon-clincher-wheelset" class="btn btn-default btn-block product-box-button ">Learn More</a></div>
</div>
</div>
<!-- col-md-3 -->
       <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-wheelset"><img src="https://cdn.shopify.com/s/assets/no-image-76fa71ddde0925f389a5c82fb414882f.png"class="img-responsive" alt="Epic 50 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">$1 Cash Payout Via Paypal</span>
    <div class="text-muted">Extra Information</div>    
    </div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$1.50</span> </div>
<a href="/products/epic-88-carbon-clincher-wheelset" class="btn btn-default btn-block product-box-button ">Learn More</a></div>
</div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->

    <div class="row">
     
      <div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 38 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">Team Tokyowheel Ambassador Kit</span>
    <div class="text-muted">Extra Information</div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$1079.00</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
    </div>
  </div>
<!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 38 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">Team Tokyowheel Rider Kit</span>
    <div class="text-muted">Extra Information</div>
<div class=""><small class="muted">Reward Points </small><span class="money text-success">$100</span> <span class="label label-default">FREE Shipping</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
    </div>
  </div>

<!-- col-md-3 -->
<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 50 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">Titanium Cassette</span>
    <div class="text-muted">Extra Information</div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$100</span> <span class="label label-default">FREE Shipping</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 60 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">Carbon Upgrade Kit</span>
    <div class="text-muted">Extra Information</div>
    
    </div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$100</span> <span class="label label-default">FREE Shipping</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
</div>
</div>
<!-- col-md-3 -->
  
</div>
<!-- row -->
    
    <div class="row">
      
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-88-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 88 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">Carbon Handlebars or Aerobars</span>
    <div class="text-muted">Extra Information</div>
    </div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$100</span> <span class="label label-default">FREE Shipping</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
</div>
</div>
<!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-wheelset"><img src="{{ 'loader.gif' | asset_url }}"class="img-responsive" alt="Epic 38 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">Tokyowheel Secret Weapon Titanium Frame</span>
    <div class="text-muted">Extra Information</div>
  <div class=""><small class="muted">Reward Points </small><span class="money text-success">$100</span> <span class="label label-default">FREE Shipping</span></div>
<a href="" class="btn btn-default btn-block product-box-button "  disabled="disabled">Comming Soon...</a></div>
    </div>
  </div>

<!-- col-md-3 -->

  <div class="col-md-3  col-sm-6">
    <h3>And More...</h3>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->
  <div class='row'>
    <div class="col-sm-12 text-center">
    <div class="panel panel-success">
  <div class="panel-body">
    <h2 class='text-success'>Want to Earn Cash Instead?</h2>
    <h3>Become an Ambassador and You Can Earn a 15% Cash Payout For Every Referral. (Instead of Reward Points)</h3>
  </div><!-- panel body -->
</div><!-- panel -->
    </div><!-- col -->
    </div><!-- row -->
  
  </div><!-- container -->
</div><!-- row-bg -->

<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2 class=" product-info-title">How Do I Earn Reward Points?</h2>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
  <h3>There Are Many Ways To Earn Reward Points, and We are Continuously Adding More.</h3>
    </div>
  </div><!-- row -->
  <div class='row'>
    <div class='col-sm-8 col-sm-offset-2 slim-hr'>
    	<hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Use your Ambassador link and Refer a new customer to Tokyowheel</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Refer a new Ambassador to Tokyowheel reward points based upon their performance</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Write a 'How To' informative blog post for publication on Tokyowheel.com, from our list of Approved Blog Post Topics.</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Write a Race Report Blog post for publication on Tokyowheel.com</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Write a training/ride report Blog Post for publication on Tokyowheel.com</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Engage in a cycling forum as a Tokyowheel Ambassador</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Submit a Video Review</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Submit Bike Photos</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Submit Ride Photos</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Loan Your Wheels for Demo Rides</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Participate In Tokyowheel Demo Day Events</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Participate In Tokyowheel Strava Competitions</h4>
                  <hr><h4><span class="fa-stack"><i class="fa fa-certificate fa-stack-2x text-yellow"></i><i class="fa fa-check fa-stack-1x text-success"></i></span> Organize reviews and features by cycling blogs and publications</h4>
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->
<hr>
<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h2 class=" product-info-title">Should I Become an Ambassador?</h2>
 <hr>
  </div><!-- col -->
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
  <h3>You Should Become An Ambassador If:</h3>
    </div>
  </div><!-- row -->
  
  <div class='row'>
<div class='col-sm-10 col-sm-offset-1'>
      <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>1. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want to be a leader in your cycling community by introducing great new products.</h3>
          </div><!-- col -->
        </div><!-- row -->
            <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Become a Leader</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
        
       <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>2. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want to be sponsored, and get free gear.</h3>
            
          </div><!-- col -->
        </div><!-- row -->
         <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Get Sponsored With Gear</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
              <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>3. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want to go pro and earn money from cycling.</h3>
            
          </div><!-- col -->
        </div><!-- row -->
              
                 <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Go Pro and Get Paid</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
      <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>4. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want to work as a distributor or dealer of Tokyowheel.</h3>
           
          </div><!-- col -->
        </div><!-- row -->

         <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Become a Distributor or Dealer</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
  <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>5. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want to add a fun new activity to your cycling.</h3>
            
          </div><!-- col -->
        </div><!-- row -->
    <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Start Having More Fun</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
  
  <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>5. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You operate a cycling website or blog and want to earn affiliate commissions.</h3>
            
          </div><!-- col -->
        </div><!-- row -->
    <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Become An Affiliate</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
  <div class="alert alert-warning" role="alert">
        <div class='row'>
          <div class='col-xs-2 text-center'>
            <h3 class='text-black'>6. <i class="fa fa-user fa-2x text-muted"></i></h3>
          </div><!-- col -->
          <div class='col-xs-10'>
            <h3 class='text-success'>You want a job that will let you ride your bike everyday and never go into an office.</h3>
            
          </div><!-- col -->
        </div><!-- row -->
    <div class='row'>
              <div class='col-sm-6 col-sm-offset-3'>
                <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Get Hired</button>
              </div>
            </div><!-- row -->
      </div><!-- Alert -->
  
  
      
    </div><!-- col -->
</div><!-- row -->

    </div><!-- container -->

  
<div class='row-bg-md'>
<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">I've Never Heard Of Anything Like This Before. What's the Catch?</h2>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
  <h3>Haha, no there is no catch. This is an honest business program designed with everyone's best interest in mind. It's good for you, it's good for us, it's good for the cycling community worldwide.</h3>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 slim-hr">
    <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> We don't charge anything to participate and there will never be any fees. We pay you, not the other way around.</h4>
  <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> This isn't a scam or a trick to get you to buy something.</h4>
  <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> There are no 'upsells' or hidden obligations.</h4>
  <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> Your gear and cash rewards are paid out via your online dashboard. You have full access to your reward earnings at all times, and can 'cash out' whenever you want.</h4>
  <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> There is no commitment at all. You can signup, give it a try, continue or stop at anytime.</h4>
  <hr>
  <h4><i class="fa fa-check fa-2x text-success"></i> This is an honest, good, opportunity for people who are interested in cycling, to get involved and improve the quality of their life.</h4>
    </div>
  </div><!-- row -->
  <hr>
</div><!-- container --> 
</div><!-- row-bg-md -->

<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">Why Is Tokyowheel Doing This?</h2>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 text-center">
  <h3>Our mission is to support cyclists worldwide, what better way then creating 'open jobs' and sponsorship opportunities for anyone interested.</h3>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 slim-hr">
    <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We get inquiries daily from cyclists looking to be sponsored, distribute our products or find a job in the cycling industry.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We love to do things differently, and innovate with our business model whenever possible.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We think the current structure of sponsorships ,distributors , and jobs is outdated.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> One common request we get is: 'I have a lot of influance in my cycling community, and If I ride your wheels, you'll get a lot of new customers. So can I have some wheels for free or discount?" We understand that community influence is a powerful thing, and new customers do come from seeing influential people use products.<br><br>But, up until now we didn't have a structured way to say Yes to these types of requests. As much as we want to give everyone an opportunity to prove themself, if we don't do it in a structured way then it will not be sustainable. This is our structured way.<br><br>So, if you want free or discounted wheels in exchange for telling all your friends, the answer is YES you can do that by joining Team Tokyowheel.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We would like to release other products besides wheels to our existing customers. Some of the products we want to release could never be market successes, like our wheels. But, we still want to give our existing customers the ability to enjoy them.<br><br>Because the Team Tokyowheel Gear Rewards are not for sale publically and can not be bough, they aren't limited by the normal 'For-Profit' product requirements. We have more freedom to release products for our Team Members.<br><br>We can launch new products that are available exclusivly to Team Tokyowheel Memebers, that could never be profitable under a normal business model, make them easily attainable, and support our core wheel business.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We give you all the tools a guidance to be successful in a variety of different ways.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> Because we have structured everything very specifically, we can give maximum rewards for your efforts.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We believe this is a true win-win-win situation (You Win by getting rewards and the lifestyle you want, Your Community Wins by being introduced to new products they want, Tokyowheel wins by increasing the size of our customer base and our ability to launch new products).</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We actively engage every ambassador in discussion on how to improve the Team and our products for them and for everyone. We open up our company for your participation and we think that this will be great for our team, our customers, and our business in the long run.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> This is a very scalable way to motivate, train, manage, and compensate large numbers of people worldwide.</h4>
  <hr>
  <h4><i class="fa fa-lightbulb-o fa-2x text-yellow"></i> We want to return the favor to those who help us out.</h4>
    </div>
  </div><!-- row -->
  <hr>
 
</div><!-- container -->

<div class='container'>
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
    <h2 class=" product-info-title">How Do I get Started?</h2><h3>To Get Started Click The Button Below and Signup. You Will Get All The Resources and Information You Need.</h3>
    </div>
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
 <div class='well well-lg'>
  <button class="btn btn-lg btn-warning btn-block" data-toggle="modal" data-target="#opt-in-modal-ambassador">Get Started!</button>      
 </div><!-- well --> 
    </div><!-- col -->
  </div><!-- row -->
  <hr>
</div><!-- container -->












<% if false %>How Do I get Started?

Ambassadors are a key part of our marketing and growth strategy. Tokyowheels are a great product, and we know that people love to tell their friends about great things.


 We will share 20% of the revenue we earn for every customer you refer to Tokyowheel that signs up through your affiliate link. 


Sign up and get started today.
Earn exclusive gear when you refer customers to Tokyowheel!
Earn a percent of revenue share
Get a referral link
Personalized marketing support
Refer a company to Ambassador and earn 50% of their initial payment, plus 10% recurring commissions as long as they have an account!

Sign up and get started today!
  
Refer and Earn

Ambassador grows with the support of our customers, like you!

Refer a company to Ambassador and earn 50% of their initial payment, plus 10% recurring commissions as long as they have an account!
Ambassadors values the support of our customers. You are our brand ambassadors and partners. We want to thank you by sharing 10% of the revenue we earn from each customer you refer to Ambassador who creates an account using your referral link.
Ready to be a partner? Sign up and get started today!
<% end %>
