<div class="jumbotron jumbotron1">
<div class="container text-center">
<div class="col-md-5"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-rear-side-500x500.png?14751" alt="Tokyowheel Epic 60" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-rear-side-500x500.png?14751" /></div>
<div class="col-md-7">
<h1>Tokyowheel Carbon Wheelsets</h1>
<p>Carbon wheels For Road, Triathlon, and Cyclocross Bikes.</p>
<p><a class="btn btn-warning btn-lg" href="/pages/wheels">Shop Carbon Wheelsets</a></p>
</div>
</div>
</div>
<div class="container">
<h1 class="well text-center"><a href="http://www.tokyowheel.com/pages/information#shipping-delivery"><i class="icon-plane"></i> FREE Shipping Worldwide</a></h1>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7 ">
<h2 class="featurette-heading">Tokyowheel Carbon Wheels.<span class="text-muted"> Take Your Riding To The Next Level.</span></h2>
<p class="lead">Tokyowheel offers a full range of carbon wheels for road bikes, triathlon, and cyclocross bikes. With multiple options for rims, hubs and spokes, you will find the perfect wheels for you.</p>
</div>
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-88-set-500x500.jpg?14692" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-88-set-500x500.jpg?14692" /></div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-rear-angle-hero-500x500.jpg?14683" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-rear-angle-hero-500x500.jpg?14683" /></div>
<div class="col-md-7">
<h2 class="featurette-heading">Wheels For Road Bikes.<span class="text-muted"> Superlight.</span></h2>
<p class="lead">Improve your acceleration and climbing with a lightweight set of carbon wheels. Boost your speed over long distances with advanced aerodynamics.</p>
</div>
</div>
<hr class="featurette-divider" /><!--
      <div class="row featurette">
        
        <div class="col-md-7">
          <h2 class="featurette-heading">Track / Fixed Gear Bikes Too.<span class="text-muted"> Advanced Aerodynamics.</span></h2>
          <p class="lead">All Tokyowheels are built with full carbon rims. Our advanced technology makes the rims strong, light, and aerodynamic. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="http://cdn.shopify.com/s/files/1/0210/5956/files/boss-rear-angle-hero-500x500.jpg?14680" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/boss-rear-angle-hero-500x500.jpg?14680" alt="Generic placeholder image">
        </div>
      </div>

  <hr class="featurette-divider">-->
<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">Full Carbon Rims.<span class="text-muted">Clincher and Tubular.</span></h2>
<p class="lead">All Tokyowheels are built with full carbon rims. Our advanced technology makes the rims strong, light, and aerodynamic.</p>
</div>
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/epic-clincher-rim-500x500.jpg?14692" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-clincher-rim-500x500.jpg?14692" /></div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/elite-25-205-comparison-500x500.jpg?14704" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-25-205-comparison-500x500.jpg?14704" /></div>
<div class="col-md-7">
<h2 class="featurette-heading">Extra Wide Rims.<span class="text-muted"> Modern Performance.</span></h2>
<p class="lead">Extra wide rims 25mm~27mm, for increased aerodynamics and better handling.</p>
</div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">Choose Your Hubs.<span class="text-muted"> Road or Track, Basic or Premium.</span></h2>
<p class="lead">Choose the perfect hubs for your wheels. We offer a wide rage of hubs from standard hubs to premium brand name model.</p>
</div>
<div class="col-md-5">
<div id="carousel-hubs" class="carousel slide"><!-- Indicators -->
<ol class="carousel-indicators">
<li class="active" data-target="#carousel-hubs" data-slide-to="0"></li>
<li data-target="#carousel-hubs" data-slide-to="1"></li>
<li data-target="#carousel-hubs" data-slide-to="2"></li>
<li data-target="#carousel-hubs" data-slide-to="3"></li>
<li data-target="#carousel-hubs" data-slide-to="4"></li>
</ol>
<!-- Wrapper for slides -->
<div class="carousel-inner">
<div class="item active"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-road-hub-rear-side_large.jpg?15250" alt="..." /></div>
<div class="item "><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/DT-Swiss-240s-hubs_large.jpg?15244" alt="..." /></div>
<div class="item"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokywheel-track-hub-rear-angle_large.jpg?15250" alt="..." /></div>
<div class="item"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/chub-set.jpg?15250" alt="..." /></div>
</div>
<!-- Controls --> <a class="left carousel-control" href="#carousel-hubs" data-slide="prev"> <span class="icon-prev"></span> </a> <a class="right carousel-control" href="#carousel-hubs" data-slide="next"> <span class="icon-next"></span> </a></div>
</div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/sapim-cx-ray-spoke-500x500.jpg?14700" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/sapim-cx-ray-spoke-500x500.jpg?14700" /></div>
<div class="col-md-7">
<h2 class="featurette-heading">Aero Bladed Spoke, Standard.<span class="text-muted"> Optional Sapim CX-Ray.</span></h2>
<p class="lead">Strong wheels rely on quality spokes to keep the stiff and true. All Tokyowheels come standard with Aero Bladed Spokes, and can be upgraded to the ultimate Sapim CX-Ray spokes.</p>
</div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-7">
<h2 class="featurette-heading">FREE Shipping.<span class="text-muted"> Worldwide.</span></h2>
<p class="lead">Get free shipping on your wheels anywhere in the world. Most orders arrive in 5~7days.</p>
</div>
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/free-shipping.jpg?14707" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/free-shipping.jpg?14707" /></div>
</div>
<hr class="featurette-divider" />
<div class="row featurette">
<div class="col-md-5"><img class="featurette-image img-responsive" src="https://cdn.shopify.com/s/files/1/0210/5956/files/elite-38-front-side-hero-500x500.jpg?14716" alt="Generic placeholder image" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-38-front-side-hero-500x500.jpg?14716" /></div>
<div class="col-md-7">
<h2 class="featurette-heading">Easy Return Warranty.<span class="text-muted"> And Crash Replacement.</span></h2>
<p class="lead">Wheels from Tokyowheel are fully backed by our warranty and crash replacement program.</p>
</div>
</div>
<div class="jumbotron jumbotron2">
<div class="container text-center">
<h1>Choose Your Carbon Wheelset</h1>
<p>See all Tokyowheel models, and choose your new wheels.</p>
<p><a class="btn btn-warning btn-lg" href="/pages/wheels">Shop Carbon Wheelsets</a></p>
</div>
</div>
</div>
<!-- container -->