<div class="container">
  <% if false%><div class="page-header contact">
  		<h1>Contact Tokyowheel</h1>
  </div><% end%>
  <div class='row'>
  <div class='col-md-8'>
    <h3>Tokyowheel™ Learning Center <small>Get Answers & Learn About Your Wheels</small></h3>
    <%= render :partial => 'spree/shared/learning_center' %>
    </div><!-- col -->
    <div class='col-md-4'>
      <%= render :partial => 'spree/shared/side_bar_contact' %>
  <h3><i class="fa fa-map-marker text-muted"></i> Locations</h3>
      <hr>
      <h4>Tokyowheel Headquarters Japan</h4>
    <p>Aobodai 3-3-11<br>
Meguro-ku, Tokyo<br>
Japan 153-0042 (<a href='https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Aobadai+3-3-11,+Meguro,+Tokyo,+Japan&amp;aq=&amp;sll=35.647648,139.697124&amp;sspn=0.021343,0.042057&amp;ie=UTF8&amp;hq=&amp;hnear=3+Chome-3-11+Aobadai,+Meguro-ku,+T%C5%8Dky%C5%8D-to,+Japan&amp;t=m&amp;ll=35.651229,139.693394&amp;spn=0.020923,0.025749&amp;z=14&amp;iwloc=A' target='_blank'>View Map</a>)</p>
    <div class="flex-video widescreen"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Aobadai+3-3-11,+Meguro,+Tokyo,+Japan&amp;aq=&amp;sll=35.647648,139.697124&amp;sspn=0.021343,0.042057&amp;ie=UTF8&amp;hq=&amp;hnear=3+Chome-3-11+Aobadai,+Meguro-ku,+T%C5%8Dky%C5%8D-to,+Japan&amp;t=m&amp;ll=35.651229,139.693394&amp;spn=0.020923,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe></div><!-- flex-video -->
    
    </div><!-- col -->
  </div><!-- row -->
</div><!-- container -->