<!-- Jumbotron -->
<div class="jumbotron">
  <div class='container'>
  <h1>Tokyowheel Dealers</h1>
  <p>Find a Tokyowheel dealer near you and visit them for a demo test ride.</p>
  </div><!-- container -->  
</div>

<div class='container'>
	<div class='row'>
<!-- sidebar -->
<div class='col-md-3'>

<div class="list-group" id="sidebar" >
  <a class="list-group-item" href="#north-america">North America</a>
  <a class="list-group-item" href="#south-america">South America</a>
  <a class="list-group-item" href="#europe">Europe</a>
  <a class="list-group-item" href="#africa">Africa</a>
  <a class="list-group-item" href="#asia">Asia</a>
  <a class="list-group-item" href="#oceania">Oceania</a>
</div><!-- list-group sidebar -->
<p><button class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#dealer-opt-in-modal">Become a Tokyowheel Dealer</button></p>

  <%= render :partial => 'spree/shared/become_a_dealer_modal' %>
 

</div><!-- col-md-3 -->
<div class='col-md-9'>
<!-- main content -->
  <div class='row'>
		<h1 id='north-america' class="page-header">North America</h1>
  </div><!-- row -->
  <div class='row'>
  	<div class='col-sm-4'>
      <div class='well'>
      <h4>Coates Cyclery</h4>
      <p><a href='https://goo.gl/maps/UwCpg' target='_blank'><i class="fa fa-map-marker"></i> Pomona, California USA</a></p>
      <p><a href='http://www.coatescyclery.com' target='_blank'><i class="fa fa-external-link"></i> www.coatescyclery.com</a></p>
      <p><i class="fa fa-phone"></i> 909-624-0612</p>
      </div><!-- well -->
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
  <div class='row'>
		<h1 id='south-america' class="page-header">South America</h1>
  </div><!-- row -->
  
   <div class='row'>
  	<div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
    <div class='row'>
		<h1 id='europe' class="page-header">Europe</h1>
    </div><!-- row -->
  
   <div class='row'>
  	<div class='col-sm-4'>
  	<div class='well'>
      <h4>Cycleland</h4>
      <p><a href='http://goo.gl/maps/wZEIw' target='_blank'><i class="fa fa-map-marker"></i> Athens, Greece</a></p>
      <p><a href='http://www.cycleland.gr' target='_blank'><i class="fa fa-external-link"></i> www.cycleland.gr</a></p>
      <p><i class="fa fa-phone"></i> 210-814-0518</p>
      </div><!-- well -->
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
  <div class='row'>
		<h1 id='africa' class="page-header">Africa</h1>
        </div><!-- row -->
	
   <div class='row'>
  	<div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
  <div class='row'>
      	<h1 id='asia' class="page-header">Asia</h1>
      </div><!-- row -->
	
   <div class='row'>
  	<div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
  <div class='row'>
      	<h1 id='oceania' class="page-header">Oceania</h1>
      </div><!-- row -->
  
   <div class='row'>
  	<div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
    <div class='col-sm-4'>
  	
    </div><!-- col-sm-4 -->
  </div><!-- row -->
  
</div><!-- col-md-9 -->
      </div><!-- row -->
</div><!-- container -->