
<div class="container">
	<div class="row">
    
  			<div class="col-md-3">
              
                <div class="list-group" id="sidebar" >
               <!--   <a href="#buying-guides" class="list-group-item">Buying Guides</a> -->
                  <a href="#guarantee" class="list-group-item">Guarantees</a>
                  <a href="#warranty" class="list-group-item">Warranty & Crash Replacement</a>
                  <a href="#shipping-delivery" class="list-group-item">Shipping & Customs Tax</a>
                  <a href="#payment-methods" class="list-group-item">Payment Methods</a>
                  
                  <a href="#faq" class="list-group-item">FAQ</a>
                </div>
              
      		</div>  <!-- col-md-3 -->
      		<div class="col-md-9">
              
              <!--	<h2>Buying Guides</h2>
              	<p>Coming Soon...</p>
              	<hr>-->
              	<h2 id="guarantee">110% Speed Guaranteed</h2>
                
             <div class="row ">
     <div class="col-sm-4">
       <img src="http://cdn.shopify.com/s/files/1/0210/5956/files/110-speed-guarantee_large.png?21039" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/110-speed-guarantee_large.png?21039" alt="Tokyowheel 110% Speed Guaranteed" class="img-responsive">  
       </div><!-- col-sm-6 --> 
    <div class="col-sm-8">
       <h3>Ride Faster Or We'll Buy Your Wheels Back For More Than You Paid.</h3>
       <p>If you aren’t faster with your new Tokyowheels, send them back and we will refund you 110% of the purchase price plus the return shipping, that means we will give you a full refund plus an additional 10% more cash back, as our way of saying Thank You.</p>
        
                  </div><!-- col-sm-8 -->
                </div><!-- row -->
                <div class="row">
    <div class="col-sm-4">
      </div><!-- col -->
      <div class="col-sm-8">
     <h3>365-Day Test Ride + Free Returns + 110% Moneyback</h3>
        <p>If you don't absolutely love your wheels, then send them back within 365 days of purchase, and we'll refund you 110% of your purchase price, and pay for the return shipping. We know you're going to enjoy your new wheels, and we want to back up that promise not just with words, but with real cash. </p>
        
        <h3>110% Guaranteed No Customs Taxes</h3>

        <p>110% Guaranteed No Customs Taxes. We are experts in global logistics and shipping, and we ship out wheels so customers don't pay any fees or taxes. As a company philosophy we believe that in an ideal world all riders should have equal access to our products. A rider in L.A. should get his wheels for the same total price as a rider in Mozambique. Free worldwide shipping and guaranteed no customs taxes is a big part of our effort to make that a reality. It's also an integral part of how we plan to lead the cycling industry and expand globally. We back that up with a 110% Guarantee, which means that in the case that you have to pay any additional fees to get your wheels to your door, we'll refund you 100% the cost of those fees, plus an extra 10% to say thanks (This rarely happens, but when it does we go the extra mile to support our riders)</p>
   </div><!-- col-sm-6 -->
              </div><!-- row -->
              
              
              
              
              <h2 id="warranty">1 Year Warranty & 2 Year Crash Replacement</h2>
        <div class="row ">
     <div class="col-sm-7 col-sm-offset-2">
       <div class="col-sm-6">
<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-warranty-dark_medium.png?16521" src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-warranty-dark_medium.png?16521" alt="Tokyowheel Warranty" class="img-responsive" style="margin:10px">
       </div>
       <div class="col-sm-6">
<img data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/crash-replacement.png?16701" src="http://cdn.shopify.com/s/files/1/0210/5956/files/crash-replacement.png?16701" alt="Crash Replacement" class="img-responsive" style="margin:10px">
       </div>
          </div><!-- col-sm-4 -->
          
          
   </div><!-- row -->
               <div class="row"> 
      <table class="table table-condensed">   
      <tbody>
           <tr><th>Situation</th><th>Warranty</th></tr>
           <tr><td>Manufacturing Defects Found Within 1 year</td><td>We will replace the warranty item and pay shipping both ways.</td></tr>
           <tr><td>After 1 Year</td><td>Maintenance, upgrade, and repair service at minimal cost.</td></tr>
           <tr><td>You Crash and Destroy your Wheels (Within 2 Years)</td><td>We will sell you a new set of wheels at 50% off.</td></tr>
        	<tr><td>What's Not Covered</td><td>Normal Wear and Tear</td></tr>
         </tbody>
      </table>
              </div><!-- row -->
              <div class="row">
                <div class="col-sm-6">
                  <strong>The following will void your warranty</strong>
<ul>
     <li>Misuse (Jumping, trick riding, etc)
       <li>Modification of wheels</li>
<li>Tire pressure exceeding 140psi</li>
<li>Improper assembly</li>
<li>Installation of parts or accessories not originally intended for, or not compatible with the wheel sets sold.</li>
<li>Use of brake pads not designed for carbon wheels</li>
     </ul>
                </div><!-- col-sm-6 -->
                <div class="col-sm-6">
                  <strong>This warranty does not cover</strong>
<ul><li>Normal wear and tear (bearings, skewers, spokes etc)</li>
<li>Surface finish and cosmetic treatments (anodizing, decals, etc)</li>
<li>All other bicycle components</li>
<li>Consequential or incidental damages (where applicable)</li>
  </ul>
                </div><!-- col-sm-6 -->
    </div><!-- row -->
              
                <hr>
              	<h2 id="shipping-delivery">Shipping & Delivery</h2>
                
              <div class="row " style='margin-bottom:15px;'>
     <div class="col-sm-4">
       <img src="http://cdn.shopify.com/s/files/1/0210/5956/files/fast-FREE-shipping_large.png?15910" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/fast-FREE-shipping_large.png?15910" alt="Free Shipping Worldwide" class="img-responsive">  
       <% if false %><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/dhl-logo_large.png?24710" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/dhl-logo_large.png?24710" alt="Free DHL Shipping Worldwide" class="img-responsive" > <% end%>   
       
       </div><!-- col-sm-6 --> 
    <div class="col-sm-8">

       <h3>Free Express Shipping Worldwide</h3>
       <p>We ship to all countries, by Express Air, for FREE. See the shipping table to the right for a list of countries, to confirm. Once we get your order we immediately begin custom hand-building your wheels with the options you've selected. We ship out your wheels by Express Air and always provide a tracking number.</p>
    </div><!-- col-sm-6 -->
                </div><!-- row -->
                <div class="row">
    <div class="col-sm-4">
      <img src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-tax-fees_large.png?15987" data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-tax-fees_large.png?15987" alt="No Tax and Fees" class="img-responsive">  
      </div><!-- col-sm-6 -->
      <div class="col-sm-8">
        <h3>110% Guaranteed No Customs Taxes</h3>
        <p>110% Guaranteed No Customs Taxes. We are experts in global logistics and shipping, and we ship out wheels so customers don't pay any fees or taxes. As a company philosophy we believe that in an ideal world all riders should have equal access to our products. A rider in L.A. should get his wheels for the same total price as a rider in Mozambique. Free worldwide shipping and guaranteed no customs taxes is a big part of our effort to make that a reality. It's also an integral part of how we plan to lead the cycling industry and expand globally. We back that up with a 110% Guarantee, which means that in the case that you have to pay any additional fees to get your wheels to your door, we'll refund you 100% the cost of those fees, plus an extra 10% to say thanks (This rarely happens, but when it does we go the extra mile to support our riders)</p>
        
    </div><!-- col-sm-6 -->
              </div><!-- row -->
 
 <div class="row">
      <h3>Shipping Rates</h3>
	  <%= render :partial => 'spree/shared/shipping_table_sm' %>
           </div><!-- row -->
              <div class="row">
                <h3>Tokyowheel Customer Map</h3>
        <a class='visible-xs' href='http://www.tokyowheel.com/pages/map'><img class='img-responsive' src='https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-customer-map_458x258.png?29804' alt='Tokyowheel Customer Map'></a>
<a class='hidden-xs' href='http://www.tokyowheel.com/pages/map'><img class='img-responsive' src='https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-recent-customer-map.png?29804' alt='Tokyowheel Customer Map'></a>                
        </div><!-- row -->
     <!-- Modal -->
	 <%= render :partial => 'spree/shared/shipping_modal' %>
              	<hr>
              	<h2 id="payment-methods">Payment Methods</h2>
              
              <p>Tokyowheel accepts the following payment methods. VISA, Mastercard, Maestro, American Express, Diners Club, JC, Discover, Paypal, and Wire Transfer.</p>
              <img src="http://cdn.tokyowheel.com/payment-icons-lg.png" class="img-responsive" style="margin:10px;">
              <p>All payments are processed in USD. If you choose to display an alternate currency when shopping, you will charged in USD and your credit card company will convert your payment into your local currency at the current exchange rate. </p>
              
              <hr>
             
                <h2 id="faq">FAQ</h2>
<h3>Tokyowheel™ Learning Center <small>Get Answers & Learn About Your Wheels</small></h3>
  <%= render :partial => 'spree/shared/learning_center' %>
</div> <!-- col-md-9 -->
  	</div><!-- row -->
</div><!-- container -->
