<div class='container'>

  <h1 class="well text-center"><a href="http://www.tokyowheel.com/pages/information#shipping-delivery"><i class="icon-plane"></i> FREE Shipping Worldwide</a></h1>
  <h3>Tokyowheel Customer Map</h3>
  <%= render :partial => 'spree/shared/recent_customer_map' %>
</div>