<div class='container'>

<script src="http://sosapp.sinelabs.com/media/js/sos_ensurejq.js"></script>
<script src="http://sosapp.sinelabs.com/media/js/simpleorderstatus.js"></script>
<script>// <![CDATA[
document.write('<link rel="stylesheet" href="http://sosapp.sinelabs.com/media/css/simpleorderstatus.css">');
// ]]></script>
<h1><i class="fa fa-search"></i> Track Your Order</h1>

<script>// <![CDATA[
var error_required = 'Required';
    var error_email_invalid = 'E-mail address formatted improperly';
    var error_date_invalid = 'Order date values not valid';
// ]]></script>

<div id="sos_wrapper" class="well well-lg" style="display: none;">
  
  <form id="sos_frm" class="">
    <h3 class='text-center'>Enter your order number and email below to retrieve your order.</h3>
    <input type="hidden" id="sos_sid" name="sos_sid" value="2105956" /> 
    <div class='row'>
      <div class='col-sm-3 col-sm-offset-3'>
    <div class="form-group"><label for="sos_oid"><span class='sr-only'>Order #: </span><span id="sos_oid_error" class="label label-danger"></span></label><input type="text" id="sos_oid" name="sos_oid" class="form-control input-lg" placeholder="Order Number"/></div>
      </div><!-- col -->
      <div class='col-sm-3'>
        <div class="form-group"><label for="sos_eml"><span class='sr-only'>E-mail address: </span><span id="sos_eml_error" class="label label-danger"></span></label> <input type="text" id="sos_eml" name="sos_eml" class="form-control input-lg" placeholder="Email"/></div> 
      </div><!-- col -->
      </div><!-- row -->
    <div class='row'>
      <div class='col-sm-4 col-sm-offset-4'>
       <input type="submit" id="sos_lkp" class="btn btn-primary btn-block btn-lg" value="Search" />
      </div>
    </div><!-- row -->
<div class=""></div>
</form>

<div id="sos_loading" class="" style="display: none;">
	<h4 class='text-center text-muted'>Loading...<span class="show_progress"></span></h4>
</div>
  
<div id="sos_error" class="class="label label-danger"" style="display: none;">
<h4>Whoops, something went wrong. Sorry!</h4>
  <p>Try again, or <a href='/pages/contact'>contact support</a></p>

  
<input type="button" id="sos_retry_error" class="" value="Retry" /></div>
<div id="sos_order_not_found" class="" style="display: none;">
<h4>Terribly sorry, but we could not locate your order.</h4>
<p>Please recheck your order number and e-mail address - it must match exactly the one used when placing your order exactly. If you continue to have trouble locating your order, please contact store customer support.</p>
  
<input type="button" id="sos_retry_not_found" class="" value="Retry" /></div>
  <style type="text/css">
    .sos_order{ 
     margin-right: -15px;
  margin-left: -15px;
  }
    .sos_vitals, .sos_status, .sos_billing, .sos_shipping, .sos_items{
    margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    padding: 15px;
  }
    
    .sos_vitals, .sos_status, .sos_billing, .sos_shipping{
      position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
      float: left;
      width: 100%;
    }
</style>
 
<div id="sos_order" class="sos_order" style="display: none;"></div>
 
<div class="sos_clear"></div>
</div>
</div><!-- container -->

