<div class='container'>
  <div class="page-header">
  <h1>Tokyowheel Reviews <small>& Testimonials</small></h1>
</div>
 <div class='row video-reviews'>
  <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qUynzvS2AUM" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
   
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="jrLxNcWZgYY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col -->
   
    <div class='col-md-4 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><iframe src="//player.vimeo.com/video/97573706" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
   </div><!-- col-md-4 col-sm-6 -->
   
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="aE7WhBQUBoc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="qn-ljre4ujw" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ijy1QaitM-M" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="dlniho3JPOc" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="cP56-6v-BNg" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="LVLHvwoIC-s" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="t8V84T_3K9Y" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   <div class='col-md-4 col-sm-6'>
		<div class="embed-responsive embed-responsive-16by9"><div class="lazyYT" data-youtube-id="ABBZRReTRFY" data-ratio="16:9">Loading...</div></div>
      </div><!-- col --> 
   
   
   
 <% if false %> <div class='col-md-4 col-sm-6'>
    <div class="embed-responsive embed-responsive-16by9"><iframe src="//player.vimeo.com/video/86268589?title=0&amp;byline=0&amp;portrait=0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
   </div><!-- col-md-4 col-sm-6 -->
   <% end %>
    </div><!-- row -->

  <div class='row'>
  <script type="text/javascript" src="https://www.yotpo.com/js/yQuery.js"></script>
<script> 
var yotpo_app_key = "icVL5bPNxcINEFHWJwg8M6v64RMlLSx9MCtdko8P";
</script>
<div id='yotpo-testimonials-custom-tab'></div>
  </div><!-- row -->
</div><!-- container -->
