<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div class="well">
<h1 class="text-danger text-center"><strong>CHECK YOUR EMAIL</strong></h1>
<h2 class="text-center">Check your email inbox for the <strong>Discount Code</strong>.</h2>
<h3 class="text-center">Once you have your Discount Code: <a href="http://www.tokyowheel.com/pages/wheels" class="btn btn-lg btn-primary">Choose Your Wheels</a></h3>
<p class="text-center">Use the discount code on the final step of the checkout to get the sale price.</p>
</div>
<!-- well --></div>
<!-- col-sm-8 col-sm-offset-2 --></div>
<!-- row --></div>
<!-- container -->