<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2">
<div class="well">
<h1 class="text-center"><strong>Thank You For Signing up To Become A Tokyowheel Dealer.</strong></h1>
<h2 class="text-center">Check your email inbox for the <strong>Information</strong>.</h2>
<p class="text-center">- or -</p>
<p class="text-center"><a href="http://www.tokyowheel.com/pages/information" class="btn btn-lg btn-primary">Learn More About Tokyowheel</a></p>
</div>
<!-- well --></div>
<!-- col-sm-8 col-sm-offset-2 --></div>
<!-- row --></div>
<!-- container -->