

<div class="jumbotron jumbotron3">
<div class="container text-center">
<h1>Choose Your Wheels</h1>
<p>See all Tokyowheel models, and select your new wheels to learn more.</p>
</div>
</div> 
  <div class="container"> 
    <div class='row'> 
      <div class='col-xs-12'>
     <ul class="nav nav-pills nav-justified wheel-nav" style="">
    <li><a href="#clincher"><h4>Clincher Wheels</h4></a></li>
  <li><a href="#tubular"><h4>Tubular Wheels</h4></a></li>
<li><a href="#parts"><h4>Parts & Accessories</h4></a></li>
</ul>
      </div><!-- col -->
      </div><!-- row-->
    
    
  <h1 id="clincher" class="page-header">EPIC <small>Clincher Wheelsets</small></h1>
<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-set_large.png?15504"class="img-responsive" alt="Epic 38 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">EPIC 38 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
  <div class=""><small class="muted">From </small><span class="money text-success">$979.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-38-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a>
    </div>
  </div>
</div>
<!-- col-md-3 -->
<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-set_large.jpg?15504"class="img-responsive" alt="Epic 50 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 50 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">$1019.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-50-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-set_large.jpg?15519"class="img-responsive" alt="Epic 60 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 60 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">$1039.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-60-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-88-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-88-set_large.jpg?15519"class="img-responsive" alt="Epic 88 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 88 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">$1099.00 USD </span><span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-88-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->
<div class="row">
<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-50-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-38-50-set_large.jpg?16180"class="img-responsive" alt="Epic 38-50 Carbon Clincher Wheelset" /></a>
<div class="caption">
    <span class="lead">EPIC 38-50 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$999.00 USD </span>  <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-38-50-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a>
    </div>
  </div>
</div>
<!-- col-md-3 -->
<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-60-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-50-60-set_large.jpg?16188"class="img-responsive" alt="Epic 50-60 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 50-60 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$1029.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-50-60-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-88-carbon-clincher-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/epic-60-88-set_102d3921-e8d3-4b1a-94c2-c28a4dd1436b_large.jpg?16188"class="img-responsive" alt="Epic 60-88 Carbon Clincher Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 60-88 </span>
    <div class="text-muted">Carbon Clincher - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$1069.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-60-88-carbon-clincher-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-38-front-side-hero_9ea2c8b3-e05a-41b8-b5b4-1abc86f1961f_medium.jpg?17810"class="img-responsive" alt="Epic 38 Carbon Clincher Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 38 FRONT</span>
    <div class="text-muted">Carbon Clincher - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$454.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-38-carbon-clincher-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->
  
  <div class="row">
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-38-carbon-clincher-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-38-rear-side-hero_2005b69d-f138-4f6c-a04b-67f8c6484788_medium.jpg?17810"class="img-responsive" alt="Epic 38 Carbon Clincher Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 38 REAR</span>
    <div class="text-muted">Carbon Clincher - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$524.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-38-carbon-clincher-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-50-front-hero-black_882e5f80-effc-4b7f-af5f-e033f900be65_medium.jpg?17810"class="img-responsive" alt="Epic 50 Carbon Clincher Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 50 FRONT</span>
    <div class="text-muted">Carbon Clincher - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$474.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-50-carbon-clincher-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-50-carbon-clincher-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-50-rear-side-hero_6d19815a-f375-4ea5-b65b-cc710388fd14_medium.jpg?17810"class="img-responsive" alt="Epic 50 Carbon Clincher Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 50 REAR</span>
    <div class="text-muted">Carbon Clincher - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$544.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-50-carbon-clincher-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-carbon-clincher-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-60-front-side_7df971ac-97a4-477c-b80f-0a292e8bd4c8_medium.jpg?17810"class="img-responsive" alt="Epic 60 Carbon Clincher Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 60 FRONT</span>
    <div class="text-muted">Carbon Clincher - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$484.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-60-carbon-clincher-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  </div><!-- row -->
  <div class="row">
        <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-60-carbon-clincher-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-60-rear-side_f3c03273-4490-4042-975c-7f067d642c9b_medium.jpg?17810"class="img-responsive" alt="Epic 60 Carbon Clincher Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 60 Rear</span>
    <div class="text-muted">Carbon Clincher - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$554.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-60-carbon-clincher-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
    
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-88-carbon-clincher-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-88-front-side_159ba2f3-8d78-4012-8edc-43cc39d40e39_medium.jpg?17810"class="img-responsive" alt="Epic 88 Carbon Clincher Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 88 FRONT</span>
    <div class="text-muted">Carbon Clincher - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$514.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-88-carbon-clincher-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/epic-88-carbon-clincher-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/epic-88-rear-side_48500d35-3448-4b58-b945-31b0e89d3b9c_medium.jpg?17810"class="img-responsive" alt="Epic 88 Carbon Clincher Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">EPIC 88 REAR</span>
    <div class="text-muted">Carbon Clincher - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$584.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/epic-88-carbon-clincher-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->

  </div><!-- row -->



  <h1 id="tubular" class="page-header">ELITE <small>Tubular Wheelsets</small></h1>
<div class="row">
<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-38-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-38-set_large.jpg?15519"class="img-responsive" alt="Elite 38 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 38 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$859.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-38-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-50-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-50-set_large.jpg?15519"class="img-responsive" alt="Elite 50 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 50 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$889.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-50-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-60-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-60-set_large.jpg?15519"class="img-responsive" alt="Elite 60 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 60 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$919.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-60-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-88-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-88-set_large.jpg?15519"class="img-responsive" alt="Elite 88 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 88 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$949.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-88-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->

<div class="row">
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-38-50-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-38-50-set_large.jpg?16188"class="img-responsive" alt="Elite 38-50 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 38-50 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$879.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-38-50-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
<div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-50-60-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-50-60-set_a264cae5-7d81-4b77-ba5b-44f9d6692417_large.jpg?16193"class="img-responsive" alt="Elite 50-60 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 50-60 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$909.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-50-60-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  <div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-60-88-carbon-tubular-wheelset"><img src="http://cdn.shopify.com/s/files/1/0210/5956/files/elite-60-88-set_large.jpg?16188"class="img-responsive" alt="Elite 60-88 Carbon Tubular Wheelset" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 60-88 </span>
    <div class="text-muted">Carbon Tubular - Wheelset</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$939.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-60-carbon-tubular-wheelset" class="btn btn-primary btn-block product-box-button ">Select Wheelset</a></div>
</div>
</div>
<!-- col-md-3 -->
  <!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-38-carbon-tubular-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-38-front-side-hero_62221a0d-d33a-4cb8-bf27-93f6cce2cb69_medium.jpg?17815"class="img-responsive" alt="Elite 38 Carbon Tubular Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 38 FRONT</span>
    <div class="text-muted">Carbon Tubular - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$394.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-38-carbon-tubular-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->
  
  <div class="row">
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-38-carbon-tubular-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-38-rear-side-hero_baa95702-8d13-4f13-8485-c9d9fcda2e2d_medium.jpg?17815"class="img-responsive" alt="Elite 38 Carbon Tubular Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 38 REAR</span>
    <div class="text-muted">Carbon Tubular - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$464.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-38-carbon-tubular-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-50-carbon-tubular-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-50-front-side-hero_8b773d67-6a24-470e-a6cc-59ca35f737fa_medium.jpg?17815"class="img-responsive" alt="Elite 50 Carbon Tubular Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 50 FRONT</span>
    <div class="text-muted">Carbon Tubular - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$409.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-50-carbon-tubular-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-50-carbon-tubular-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-50-rear-front-hero_c398801e-da2f-4ae1-96f9-d76719fa23f4_medium.jpg?17815"class="img-responsive" alt="Elite 50 Carbon Tubular Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 50 REAR</span>
    <div class="text-muted">Carbon Tubular - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$479.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-50-carbon-tubular-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-60-carbon-tubular-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-60-front-side_160db9e1-e13c-45ea-ab2e-8b746c7feb8f_medium.jpg?17815"class="img-responsive" alt="Elite 60 Carbon Tubular Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 60 FRONT</span>
    <div class="text-muted">Carbon Tubular - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$424.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-60-carbon-tubular-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
  </div><!-- row -->
  <div class="row">
        <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-60-carbon-tubular-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-60-rear-side_2af33a25-d787-4252-8570-04a8f7cd0dd2_medium.png?17818"class="img-responsive" alt="ELite 60 Carbon Tubular Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 60 Rear</span>
    <div class="text-muted">Carbon Tubular - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$494.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-60-carbon-tubular-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
    
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-88-carbon-tubular-front-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-88-front-side_8a57df28-bcdb-4332-86e1-f1b4cfc3aafe_medium.jpg?17815"class="img-responsive" alt="Elite 88 Carbon Tubular Front Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 88 FRONT</span>
    <div class="text-muted">Carbon Tubular - Front Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$439.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-88-carbon-tubular-front-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/elite-88-carbon-tubular-rear-wheel"><img src="http://cdn.shopify.com/s/files/1/0210/5956/products/elite-88-rear-side_9878942d-ba7d-4d54-904d-f78a07236035_medium.jpg?17815"class="img-responsive" alt="Elite 88 Carbon Tubular Rear Wheel" /></a>
<div class="caption">
  <div>
    <span class="lead">ELITE 88 REAR</span>
    <div class="text-muted">Carbon Tubular - Rear Wheel</div>
    
    </div>
  <div class="text-right"><small class="muted">From </small><span class="money text-success">$509.50 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/elite-88-carbon-tubular-rear-wheel" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->

  </div><!-- row -->
    
    <h1 id="parts" class="page-header"><small>Parts & Accessories</small></h1>
    <div class="row">

<div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/brake-pads"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-bluestop-brake-pads-2pairs_12dd90d5-cb7c-44de-991a-8034d12dfd67_large.jpg?29165"class="img-responsive" alt="Tokyowheel Brake Pads" /></a>
<div class="caption">
  <div>
    <span class="lead">Brake Pads</span>
    <div class="text-muted"></div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">19.99 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/brake-pads" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
 <!-- <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/spokes"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/sapim-cx-ray-sils-spoke-nipple_32ee1341-1286-4ba9-afeb-847ba586b79b_large.jpg?29165"class="img-responsive" alt="Tokyowheel Spokes" /></a>
<div class="caption">
  <div>
    <span class="lead">Spokes & Nipples</span>
    <div class="text-muted"></div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">$39.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/spokes" class="btn btn-primary btn-block product-box-button" disabled="disabled">Coming Soon...</a></div>
</div>
</div> -->
<!-- col-md-3 -->
  <div class="col-md-3  col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/replacement-decal-set"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/epic-decal-set-decal-only_large.jpg?29165"class="img-responsive" alt="Tokyowheel Decals" /></a>
<div class="caption">
  <div>
    <span class="lead">Decals</span>
    <div class="text-muted"></div>
    
    </div>
  <div class=""><small class="muted">From </small><span class="money text-success">$40.00 USD </span><span class="label label-default">FREE Shipping</span></div>
<a href="/products/replacement-decal-set" class="btn btn-primary btn-block product-box-button ">Select</a></div>
</div>
</div>
<!-- col-md-3 -->
      <div class="col-md-3 col-sm-6">
  <div class="thumbnail product-thumbnail"><a href="/products/freehub"><img src="https://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-freebody_large.jpg?29165"class="img-responsive" alt="Tokyowheel Freehub" /></a>
<div class="caption">
    <span class="lead">Freehub Body</span>
    <div class="text-muted"></div>
  <div class=""><small class="muted">From </small><span class="money text-success">$65.00 USD </span> <span class="label label-default">FREE Shipping</span></div>
<a href="/products/freehub" class="btn btn-primary btn-block product-box-button ">Select</a>
    </div>
  </div>
</div>
<!-- col-md-3 -->
</div>
<!-- row -->
    
</div><!-- container -->