  <!-- BEGIN: buySAFE Seal -->
<span id="BuySafeSealSpan"></span>
<script src="//seal.buysafe.com/private/rollover/rollover.js"></script>
<script type="text/javascript">
if(window.buySAFE && buySAFE.Loaded) {
   buySAFE.Hash = '6QzTwRncmwM%2BrkeRwKW3m1%2B2M0Dj%2BTetECXFjH6CAIoCnQ5dB7ed9noW4m4DfgZaBmsAyC557Pc47cpTT1EjlQ%3D%3D';
   WriteBuySafeSeal("BuySafeSealSpan", "GuaranteedSeal");
}
</script>