<div class='container'>
<div id='cw101-opt-in' class='well'>
  <div class='row'>
    <h1 class='text-center'><strong><em><span class='text-danger'>FREE</span></em> CARBON WHEELS 101 COURSE</strong></h1>
    <h2 class='text-center lead' style=''>Learn Everything You Need To Know Before Buying Carbon Wheels. </h2>
  </div><!-- row -->
<div class='row'>
<div class='col-sm-6'>
<a href="#opt-in-modal-cw101" data-toggle="modal" data-target="#opt-in-modal-cw101"class="">
      <img class='img-responsive' src='{{ 'loader.gif' | asset_url }}' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-carbon-wheels-101_large.jpg?24497" alt="Tokyowheel Carbon Wheels 101">
    </a>

</div><!-- col -->
<div class='col-sm-6'>
  <h2><i class="fa fa-info-circle text-muted"></i> You Get:</h2>

  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 1:</span> Why Carbon?</h4>
  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 2:</span> Tubular vs. Clincher</h4>
  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 3:</span> What's this 38 50 60 88 Craziness?</h4>
  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 4:</span> Are Wide Rims Better?</h4>
  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 5:</span> Do Spokes and Hubs Matter?</h4>
  <h4><i class="fa fa-university text-primary"></i> <span class='text-muted'>Lesson 6:</span> How to Avoid Paying Too Much For Your Wheels</h4>
  <h4><i class="fa fa-certificate text-yellow"></i> <span class='text-success'>Bonus:</span> Get Carbon Wheel Tips, News, and Special Offers.</h4>

  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      <div class='well well-lg'>
  <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal-cw101">Get It Free!</button>      
      </div>
      </div><!-- col -->
  </div><!-- row -->

</div><!-- col -->  
</div><!-- row -->  
</div><!-- well --> 
</div>
  
  <div class="modal fade opt-in-modal" id="opt-in-modal-cw101" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
<div class="modal-body">
<div class="well">
<h2 class="form-signin-heading">Get The <em><strong>FREE</strong></em> Carbon Wheel 101 Course Delivered To Your Email. </h2>
 <form id="email_signup_cw101" class="" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="hi8MmF">
  <input type="hidden" name="$fields" value="first_name" />

  <div class="klaviyo_field_group">
    <input type="text" class="form-control input-lg" value="" name="first_name" id="k_id_email" placeholder="Your First Name" />
    <input type="email" class="form-control input-lg" value="" name="email" id="k_id_email" placeholder="Your Best Email" />
   <p><i class='fa fa-lock text-yellow'></i> <small>We Respect Your Privacy</small></p>
   </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button btn btn-lg btn-primary btn-block">Get It Free!</button>
  </div>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_cw101', {
    hide_form_on_success: true,
    success_message: "<h2 class='text-center text-success'>Success!</h2><h4 class='text-center'>Check your email for a confirmation message.</h4><button class='btn btn-default btn-lg btn-block' data-dismiss='modal' aria-hidden='true'>Close</button>"
  });
</script>
</div>
<!-- well --></div>
</div>
<!-- /.modal-content --></div>
<!-- /.modal-dialog --></div>
<!-- /.modal -->