
<div id="spree-header">
	<div class ='well checkout-header'>
	<div class='container'>
	<div class='row'>
		<div class='col-xs-7'>
			<a class="" href="/"><img src="http://cdn.tokyowheel.com/logo-file.png" alt="Tokyowheel™"></a>
			<a class=" hidden-xs btn btn-default btn-link" href="/pages/wheels" title="Wheels">
			    Go Back To Shop
			  </a>
		</div><!-- col -->
		<div class='col-xs-5 text-right'>
			<span class='text-muted tall-span hidden-xs '><i class="fa fa-lock"></i>  You are browsing our secure server</span>
			<span class='text-muted tall-span visible-xs '><i class="fa fa-lock"></i>  Secure</span>
		</div><!-- col -->
	</div><!-- row -->
</div><!-- container -->
</div><!-- well -->
</div><!-- spree header -->

