<div id="spree-footer">
<footer id="footer" class="well white"data-hook>
	  <div class="container">
	    <div class="row">
	     <div class='col-md-8 hidden-sm hidden-xs'>
			 <span>Need Help? <span class='text-muted'>Email Us </span><i class="fa fa-mail"></i> <a href="mailto:questions@tokyowheel.com">questions@tokyowheel.com</a> <span class='text-muted'>Call Us 24/7</span>
             <a href='tel:+18555345070 '>1-855-534-5070</a><span class='text-muted'> &</span>
             <span class="dropdown dropup">
		 	   <a href="#" class="dropdown-toggle" data-toggle="dropdown">International Phones<span class="caret"></span></a>
		 	    <ul class="dropdown-menu">
					<%= render :partial => 'spree/shared/phone_number_li' %>
		 	    </ul>
		 	 </span><!-- dropdown -->
			 </span>
		 </div><!-- col -->
	     <div class='col-sm-12 visible-sm visible-xs text-center'>
			 <span>Need Help? <span class='text-muted'>Email Us </span><i class="fa fa-mail"></i> <a href="mailto:questions@tokyowheel.com">questions@tokyowheel.com</a> <span class='text-muted'>Call Us 24/7</span>
             <a href='tel:+18555345070 '>1-855-534-5070</a><span class='text-muted'> &</span>
             <span class="dropdown dropup">
		 	   <a href="#" class="dropdown-toggle" data-toggle="dropdown">International Phones<span class="caret"></span></a>
		 	    <ul class="dropdown-menu">
					<%= render :partial => 'spree/shared/phone_number_li' %>
		 	    </ul>
		 	 </span><!-- dropdown -->
			 </span>
		 </div><!-- col -->
	     <div class='col-md-4 text-right  hidden-sm hidden-xs checkout-footer-links'>
			 <a href'' class='text-muted'>Privacy Policy</a>  
     		 <a href'' class='text-muted'>Refund Policy</a>  
			 <a href'' class='text-muted'>Terms of Service</a>  
		 </div><!-- col -->
	     <div class='col-sm-12  visible-sm visible-xs text-center checkout-footer-links'>
			 <a href'' class='text-muted'>Privacy Policy</a>  
     		 <a href'' class='text-muted'>Refund Policy</a>  
			 <a href'' class='text-muted'>Terms of Service</a>  
		 </div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
</footer>
</div><!-- spree-footer -->