<div class='container'>
<div class='row'>
  <div class='col-sm-8'>
    <style>
      
      .alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
      .alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
    </style>
    <div class="alert-message alert-message-info">
      <h4 class='text-center'>Have a Question? Email us at <a href='mailto:questions@tokyowheel.com'>questions@tokyowheel.com</a></h4>
    </div>
    
	<%= render :partial => 'spree/shared/contact_form' %>
	
	
  </div><!-- col-sm-8 -->
    
  <div class='col-sm-4'>
    <h3><i class="fa fa-phone"></i> Call Us 24 / 7</h3>
    <p><em>Email is the best way to contact us because we are serious about support and love to give detailed answers, including photos, videos, and links to resources.</em></p>
	<%= render :partial => 'spree/shared/phone_number_table' %>

  </div><!-- col-sm-4 -->
  </div><!-- row -->
</div><!-- container -->