<div id='header-bar' class="well well-sm no-margin header-bar-well">
	<div class="container">
      <div class="">
  		<div class="col-sm-3">
          <i class="fa fa-truck fa-lg text-muted"></i><a href="http://www.tokyowheel.com/pages/information#shipping-delivery"><strong> FREE Shipping Worldwide</strong></a>
    	</div>
        <div class="col-sm-3">
          <i class="fa fa-bookmark fa-lg text-muted"></i> <a href="http://www.tokyowheel.com/pages/information#shipping-delivery"><strong> Guaranteed No Customs Taxes</strong></a>
    	</div>
        <div class="col-sm-3">
          <i class="fa fa-certificate fa-lg text-muted"></i> <a href="http://www.tokyowheel.com/pages/information#guarantee"><strong> Free Returns + 110% Moneyback</strong></a>
    	</div>
        <div class="col-sm-3">
        <i class="fa fa-calendar fa-lg text-muted"></i> <a href="http://www.tokyowheel.com/pages/information#guarantee"><strong> 365 Day Test Ride</strong></a>  
        </div>
        
        
      </div>
    </div>
</div>