<div class='well support-topic-well'>
    <div class='row'>
      <div class='col-lg-3 col-md-4 col-sm-4'>
         <a href='/account' class='btn btn-success btn-block btn-lg support-topic-button'><i class="fa fa-map-marker fa-3x"></i><br/><small>Track Order</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
        <a href='#buying' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-shopping-cart fa-3x text-primary"></i><br/><small>Buying Questions</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
        <a href='#product-info' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-info-circle fa-3x text-yellow"></i><br/><small>Product Info</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
        <a href='#choose' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-question-circle fa-3x text-success"></i><br/><small>Choosing Wheels</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
                <a href='#warranty-guarantees' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-certificate fa-3x text-danger"></i><br/><small>Warranty & Guarantee</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
                <a href='#shipping-delivery' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-truck fa-3x text-warning"></i><br/><small>Shipping & Delivery</small></a>
      </div><!-- col --> 

      <div class='col-lg-3 col-md-4 col-sm-4'>
                <a href='#manufacturing' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-wrench fa-3x"></i><br/><small>Manufacturing & Testing</small></a>
      </div><!-- col -->
      <div class='col-lg-3 col-md-4 col-sm-4'>
                <a href='#team' class='btn btn-default btn-block btn-lg support-topic-button'><i class="fa fa-users fa-3x text-muted"></i><br/><small>Jobs Sponsorship Wholesale</small></a>
      </div><!-- col -->
      
    </div><!-- row --> 
    </div><!-- well -->
    <hr>
    <div class='row'> <!-- learning section -->
    <div class='col-xs-1' id='buying'>
      <i class="fa fa-shopping-cart fa-3x text-primary"></i>
    </div><!-- col -->
    <div class='col-xs-11' >
      <h2 style='margin-top:0;'>Buying Questions <small>Get instant answers to common questions.</small></h2>
   <div class='faq'>  
  <button class='btn btn-link' data-toggle="collapse" data-target="#a1">What is the Tokyowheel’s history, how long has the company been around?</button>
  <div id="a1" class="collapse"><p>We are based in Tokyo Japan, and have been in business since 2010. We initially sold only inside of Japan, and in 2013 began selling worldwide. We have plans to expand our product line with new models this year, and have no plans to close in the near future.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
  <button class='btn btn-link' data-toggle="collapse" data-target="#b1">Do you offer a payment plan, Paypal ‘Bill Me Later’ doesn’t work in my country?</button>
<div id="b1" class="collapse"><p>In our experience,  ‘Bill Me Later’ works only in the US. It’s something that only paypal controls, and we have no way of making it available in other countries. We don't have any payment plan system, so unfortunately I can't offer you that option directly from us. Have you considered using your credit card to accomplish the same thing. What I mean is make the purchase with your credit card as usual, and then pay it off in multiple payments. This is basically what the paypal billmelater system is doing, and you'll probably get a better rate from your credit card than from paypal.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a4">How can a do a test ride?</button>
  <div id="a4" class="collapse"><p>We offer a 365 day test ride with 110% paid returns. So if you would like to do a test ride you can place an order for the wheels of your choice from www.tokyowheel.com, try the wheels for up to 365 days and if you want to return them at any time, we’ll pay the return shipping costs, give you a full refund, and pay you an extra 10% of your purchase price as a thank you. Every Tokyowhel comes with this test ride, so to do a test ride you can simply order the wheel of your choice, and try it out.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
  <button class='btn btn-link' data-toggle="collapse" data-target="#a3">Do you have dealers and distributors in my country?</button>
  <div id="a3" class="collapse"><p>At Tokyowheel we built our business on a very modern business model. This is one of the main reasons why Tokyowheel has become as popular and well reviewed as we have. Part of our business model as that we don't focus on the traditional Distributor/Dealer system for supporting international customers. Instead of this we give free shipping worldwide, 110% guaranteed no customs taxes, and 365 Day test ride + 110% money back paid returns. We also offer over 7000 possible customizations of our wheels. We do all of this at a price point far lower than you will find in any local bike shop. This is a key part of the Tokyowheel advantage. For support and demo rides we have a network of Tokyowheel ambassadors in each country who are happy to meet up and give a demo ride of their wheels. We do have a network of local bike shop dealers and you can check here (<a href='http://www.tokyowheel.com/pages/dealers'>www.tokyowheel.com/pages/dealers</a>) to see if there is a dealer in your area. If not, then feel confident that you will get the best possible experience by ordering directly from <a href='http://www.tokyowheel.com'>www.tokyowheel.com</a></p></div>
</div>  <!-- faq -->
<div class='faq'>  
  <button class='btn btn-link' data-toggle="collapse" data-target="#a2">I am going to be in Japan, can I come visit your office, and buy some wheels in person?</button>
  <div id="a2" class="collapse"><p>Sorry, we don’t offer any sales from our Tokyo office. We sell exclusively online. Our Tokyo office is where we do all our administration, customer support, and marketing.</p></div>
</div>  <!-- faq -->

    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->

    <div class='row'> <!-- learning section -->
    <div class='col-xs-1' id='product-info'>
      <i class="fa fa-info-circle fa-3x text-yellow"></i>
    </div><!-- col -->
    <div class='col-xs-11' >
      <h2 style='margin-top:0;'>Product Info <small>Get answers to technical Tokyowheel product questions.</small></h2>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a12">If I were to purchase a set of wheels what other accessories will I need to purchase, and what type of setup is required. Do I need to go to a bike shop and get them to do it?</button>
  <div id="a12" class="collapse"><p>Every Tokyowheel includes titanium quick release skewers, brake pads, valve extensions, and nylon rim strips (for clinchers). The only additional parts you will need are the inner tubes, tires and rear cassette. Most customers choose to transfer the cassette from their old wheels onto their new wheels, which requires a few specialty tools, and is something easily done at your local bike shop. </p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a9">What makes Tokyowheels different than other wheels that have the same specs?</button>
  <div id="a9" class="collapse"><ul>
    <li>To get an idea of the perfomance and quality of Tokyowheels <a href='www.tokyowheel.com/pages/reviews'>check out what our customers have to say here.</a></li>
    <li>We guarantee NO customs taxes.</li>
    <li>Shipping costs (to any location worldwide) are included in the price.</li>
    <li>Our wheels are guaranteed for 1 year from receipt of your Tokyowheels.</li>
    <li>We are so confident in our product that we will refund 110% of the cost of your wheels if you are not satisfied with your purchase. We even give you a full year to try them! We will also pay the cost of shipping back to us if you are not satisfied within 365 days of receiving your Tokyowheels.</li></ul></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a20">Do you offer wheels in any other size than 700c?</button>
  <div id="a20" class="collapse"><p>Sorry, we only offer 700c size wheels.</p></div>
</div>  <!-- faq -->      
<div class='faq'>   
   <button class='btn btn-link' data-toggle="collapse" data-target="#a26">I am worried about braking performance and safety of carbon rims, will my rims ‘fail’ under heavy braking?</button>
  <div id="a26" class="collapse"><p>In the past this was a major issue with carbon wheels. The problem comes from the fact that resin in some carbon-fiber was not able to withstand the high temperatures generated by hard braking on long descents. These wheels would experience a ‘delimitation’, or melting of the braking surface and in some cases rim failure. At Tokyowheel we are constantly improving the technology of our wheels, and we pay special attention to the braking surface.</p>
<p>There are 3 technologies we incorporate into our rims to improve braking and temperature durability.</p>
<p>1+2. We use DuraHeat R carbon on the braking surface of all our rims. This is a two part technology. First the resin in this carbon is more resistant to heat which means your rim can get hotter dues to braking without any damage (240 degrees C). Secondly we embed a thermally conductive fiber into the carbon which helps to spread heat away from any 'hot-spots' and again makes it so you can brake harder and longer without damage to the rim.</p>
    <p>Those are the main points, but also one minor thing to consider is:</p>
<p>3. We include our all new CeramicChampion™ brake pads. These pads grip better, and stay cooler longer. You can also use other makers pads on our wheels, we recommend swiss stop yellow king (Yellow king pads will result in a higher rim temperature during braking as a result of the residue that they leave on the rim vs our CeramicChampion™ pads).</p>
    <p>We also test our wheels in our ‘Digital Testing Lab’ for braking surface performance. This a key part of the manufacturing process and is one of the reasons why our wheels perform so well.</p>
<p>During this testing, we run the wheel up to 30kph and then we apply a braking force and measure 7 performance variables, such as deceleration, stopping distance, and very importantly average and maximum rim temperature. By measuring these things we are able to continuously improve the braking performance of our wheels and their durability under heavy braking conditions.</p></div> 
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a19">Do you offer an aluminum braking surface on any of your wheels?</button>
  <div id="a19" class="collapse"><p>All our rims are 100% carbon. We don’t offer any wheels with aluminum braking surfaces. Our Duraheat-R™ Carbon braking surface is very high performance and rivals the performance of aluminum. It is also much lighter, which results in a faster accelerating and climbing wheel set. In the past aluminum was used on carbon wheels because the durability of those rims was compromised when the rims reached high temperatures due to braking friction. Tokyowheel is leading the industry in carbon braking performance.</p>
    <p><strong>There are 3 technologies we incorporate into our rims to improve braking and temperature durability.</strong></p>
    <p>1+2. We use DuraHeat R carbon on the braking surface of all our rims. This is a two part technology. First the resin in this carbon is more resistant to heat which means your rim can get hotter dues to braking without any damage (240 degrees C). Secondly we embed a thermally conductive fiber into the carbon which helps to spread heat away from any 'hot-spots' and again makes it so you can brake harder and longer without damage to the rim. </p>
    <p><strong>Those are the main points, but also one minor thing to consider is:</strong></p>
    <p>3. We include our all new CeramicChampion™ brake pads. These pads grip better, and stay cooler longer. You can also use other makers pads on our wheels, we recommend swiss stop yellow king (Yellow king pads will result in a higher rim temperature during braking as a result of the residue that they leave on the rim vs our CeramicChampion™ pads).</p></div>
</div>  <!-- faq -->   
      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#b2">Do you use Brass or Aluminium SILS nipples?</button>
<div id="bs" class="collapse"><p>We use black Sapim SILS Polyax Aluminum Nipples, for all wheels upgraded to Sapim spokes & nipples.</p></div>
</div>  <!-- faq -->      
      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a21">Can I get different color spokes, nipples, or hubs?</button>
<div id="a21" class="collapse"><p>No, we only offer black spokes, nipples, and hubs.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a18">Do you offer silver spokes and nipples?</button>
  <div id="a18" class="collapse"><p>No, we only offer black spokes and black nipples.</p></div>
</div>  <!-- faq --> 
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a23">Can i request my own customs designed decals?</button>
  <div id="a23" class="collapse"><p>No, we don’t offer any custom design or graphics services. We offer 12 different decal color options, including a No-Logo version. All our decals are removable so you could either remove the decals from the wheels or order the No-Logo version, and apply your own decals. </p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a27">Are Tokyowheel hubs made by Novatec?</button>
  <div id="a27" class="collapse"><p>No, we don’t offer any hubs that are made by Novatec. Our hubs are made for us by a very high quality, specialty  hub maker in Taiwan.</p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a14">Are all your hubs 11 speed compatible?</button>
  <div id="a14" class="collapse"><p>All our hubs are compatible up to 11 speed. That means that they are also 8, 9, 10 speed compatible. We include a small spacer for use with non 11 speed cassettes</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a17">How will my rear wheel be laced, and can I get it laced 2x on both sides?</button>
  <div id="a17" class="collapse"><p>Normally we lace all our rear wheels radial on the non-drive side and 2x on the drive side. If you would like to have your wheels laced 2x on both sides, it’s no problem at all, just place your order and then send us an email saying ‘please lace my rear wheel 2x on both sides’, and we’ll be happy to build your wheelset that way. </p></div>
</div>  <!-- faq -->   
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a24">Can I buy wheels with other spoke counts?</button>
  <div id="a24" class="collapse"><p>No, we only offer 20 spoke front and 24 spoke rear wheels. The only exception to this is for wheel sets upgraded to Vapor Disc Hubs are 24 spokes front and rear.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a25">I’m heavier rider, and concerned about rider weight limit. Is there any way to build the wheels stronger to accommodate me?
</button>
  <div id="a25" class="collapse"><p>Tokyowheels actually have a very high weight limit. You can see the weight limit for each wheelset on the webpage for each wheelset, and they range from 209lbs/95kg ~ 243.5lbs/110kg. You can increase this limit an additional 22lbs/10kg by adding the Sapim CX-Ray Spoke upgrade. When talking about rider weight limit, we are generally talking about avoiding broken spokes, the Sapim CX-Ray spokes are stronger and the SILS Polyax nippes that come with them allow for a more efficient force transfer through the spoke to the nipple and into the rim, which also reduces the change of weight limit related issues. We don't offer any higher spoke count wheels to increase rider weight limit. </p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a10">Do your rims have clearance issue with any frames, such as tight fitting Cervelos?</button>
  <div id="a10" class="collapse"><p>No, We haven’t had any reports of our wheels not fitting any frames, including all Cervelos. The shape design of our rims is such that they are 25mm wide at the braking surface and then bulge out to slightly wider near the center of the rim. This shape allows for them to fit into a wide range of frames. The only fit issue is with some specialty brand brakes. If your brake calipers don’t offer 25mm of clearance with brake pads installed, then you will need to sand down your brake pads to allow the rim to fit. This issue doesn’t exist with Shimano, SRAM, or Campagnolo brand brakes, but has been reported with smaller specialty brand brakes.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a15">I use Campagnolo brakes, will the included brake pads be compatible?</button>
  <div id="a15" class="collapse"><p>Yes, if you select the cassette compatibility option ‘Campagnolo’ we will include Campagnolo compatible brake pads. </p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#b3">Are the Epic clicher rims tubeless compatible?</button>
  <div id="b3" class="collapse"><p>No, they aren't designed to be used tubeless.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a11">What tires do you recommend to use with the wheels to get the best performance and ride?</button>
  <div id="a11" class="collapse"><p>This is a tough one to answer, it really depends upon your specific riding terrain and riding style. Training vs. Racing, summer vs winter etc. Basically you want to use a 25c tire with our 25mm wide rims to get the best handling benefit, but you can use any size from 23c to 50c or more. You can't go wrong with most choices from continental especaily the Grand Prix series. Beyond that it's an even tougher choice, but I would say start with the basic Grand prix, then see how you feel about the durability after 500~1000k (if that's how you are riding). If you had a lot of flats or lost big chunks of rubber on the tire then go with one of the more durable tires like a Gatorskin, if you had no problems try a less durable tire and see if you can fee the performance increase. Something like the Grand Prix 4000s. I wouldn't recommend the ultrasprots though, I've always been disappointed with those. As for tubes, we include valve extensions with your wheels so you don't need to get tubes with extra long valves. You can usually find some super light continental tubes at most local bike stores, that's what I would recommend.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a13">Do you sell inner tubes, tires, and cassettes?</button>
  <div id="a13" class="collapse"><p>No, we don’t sell inner tubes, tires, or cassettes. We recommend getting those from your local bike shop.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a22">Can I get extra spokes or brake pads for my wheels?</button>
  <div id="a22" class="collapse"><p>Yes, you can <a href='http://www.tokyowheel.com/products/spokes'>Order a spare spoke set here</a> and <a href='http://www.tokyowheel.com/products/brake-pads'>Order spare brake pads here</a>.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a29">What’s the difference between your old blue brake pads, the new black brake pads, and Swiss Stop Yellow King Pads?</button>
  <div id="a29" class="collapse"><p>In the past our wheels shipped with our BlueStop™ brake pads, we then upgraded our brake pads to the newest generation of material technology with our black CeramicChampion™ pads . Essentially you'll get more stopping power from these pads then the blue ones, without any additional risk of rim overheating. This is always the trade off with brake pads. More stopping power generally means more friction. These new pads contain a ceramic compound, which helps to reduce heat buildup, and compensate for the additional stopping power. One note is you will likely see a 'dusting' from the pads, as opposed to some pads which leave a rubber residue on the rim, this dusting helps to eliminate heat build-up due to the abnormalities in the way the rubber residue can collect on the rims. A good example of a brake pad that will give you more stopping power at the expense of this type of rubber build up is the Swiss Stop Yellow King, which we also recommend as an over the counter replacement pad.</p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a28">Will I need to have my wheels trued as part of regular maintenance?</button>
  <div id="a28" class="collapse"><p>We use a specific wheel building process that eliminates the need for truing maintenance for the life of the wheel in almost all cases. Our wheel building process is as follows: We lace the spokes to the rim and true the wheel at low tension.Then, we exercise the spokes so that they can be ideally positioned for further tensioning. We then bring the spokes up to equal tension and measure with a micrometer and tensionometer. Next we stress relieve the wheel by applying a sideways force on the hub with a machine. This essentially replaces the 'break in' period that you would experience with a new wheel and allows our wheels to stay truer throughout the life of the wheel. After a final truing they are ready for finishing.</p></div>
</div>  <!-- faq -->      
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->

<div class='row'> <!-- learning section -->
    <div class='col-xs-1' id='choose'>
      <i class="fa fa-question-circle fa-3x text-success"></i>
    </div><!-- col -->
    <div class='col-xs-11' >
      <h2 style='margin-top:0;'>Choosing Wheels <small>Get advice on which wheels are right for you.</small></h2>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a6">Which wheels are best for all-around road riding?</button>
  <div id="a6" class="collapse"><p>We recommend the <a href='http://www.tokyowheel.com/products/epic-50-60-carbon-clincher-wheelset'>Epic 50-60</a> for all around riding, because they climb and handle very well while still having noticeable aerodynamic speed advantage. In general most riders will do just fine with the standard hubs and spokes, but if you would like to increase stiffness and aerodynamics then get the Sapim CX-Ray spoke upgrade, that’s our most popular upgrade.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a7">Which wheels are best for criteriums?</button>
  <div id="a7" class="collapse"><p>We recommend the <a href='http://www.tokyowheel.com/products/epic-38-50-carbon-clincher-wheelset'>Epic 38-50</a> wheel set with the Sapim CX-Ray Spoke upgrade and either the standard Tokyowheel Vapor Hubs or the DT Swiss 240s Hub upgrade. The Epic 38-50 is a light and fast wheel set that handles great in close proximity to there riders. The added stiffness and aerodynamic advantage of the Sapim CX-Ray spoke upgrade makes it an even better racing wheel. If you want the ultimate hubset for power transfer then upgrade to the DT Swiss 240s hubset, which has a unique ‘star ratchet’ mechanism for better power transfer and durability.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a8">Which wheels are best for Triathlons?</button>
  <div id="a8" class="collapse"><p>We recommend the <a href='http://www.tokyowheel.com/products/epic-60-88-carbon-clincher-wheelset'>Epic 60-88</a> as the best all-around Triathlon wheel set, and if you want to get even more aerodynamic advantage at the expense of some stability in crosswinds you can step up to the <a href='http://www.tokyowheel.com/products/epic-88-carbon-clincher-wheelset'>Epic 88</a> for the ultimate speed gains. We recommend the Sapim CX-Ray spoke upgrade and the Tokyowheel Vapor Ceramic hub upgrade to increase aerodynamics and reduce rolling resistance. </p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a5">Which hub should I choose?</button>
  <div id="a5" class="collapse"><p>That’s a tough choice, but we generally recommend deciding based upon the following criteria: If you are trying to get the best value in a great all-around wheel set, choose the standard (Tokyowheel Vapor) hub. That’s a great hubset, which is very durable and performs well all-around, it’s much better than most entry level hubs you’ll find. If you are going to use your wheels for Triathlon racing, then we recommend you upgrade to the Tokyowheel Vapor Ceramic hubs, the reduced internal friction and better rolling resistance will help your Triathlon times. If you are road racing, doing a lot of climbing, or riding in competitive group rides choose the DT Swiss 240s hubset. This hubset has a very strong ‘star ratchet’ system in the free hub mechanism and results in better power transfer during aggressive high force riding. If you still can’t decide, contact us and we’ll give you a personalized recommendation.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a16">What kind of decals or printing do you use for your wheel graphics, and can I remove or replace the graphics in the future?</button>
  <div id="a16" class="collapse"><p>The graphics on our wheels are cut vinyl decals. They are applied on top of the carbon and are not clear coated over (to allow for removal and decal changes, as well as the Gloss on Matte visual effect). They are made from semi reflective vinyl, for safety and visibility at night. You can choose from 12 different color options, from our website, including a no-logo option, as well as a mirror silver or gold finish. <a href='http://www.tokyowheel.com/products/replacement-decal-set'>You can buy replacement decal sets here.</a></p></div>
</div>  <!-- faq -->      
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->
    
    <div class='row'> <!-- learning section -->
    <div class='col-xs-1'  id='warranty-guarantees'>
      <i class="fa fa-certificate fa-3x text-danger"></i>
    </div><!-- col -->
    <div class='col-xs-11'>
      <h2 style='margin-top:0;'>Warranty & Guarantees <small>Learn about Tokyowheel's Guarantees.</small></h2>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a45">What kind of Guarantees do you offer with the wheels?</button>
  <div id="a45" class="collapse"><p>Tokyowheel has a few guarantees designed to take anxiety out of purchasing, and eliminate the chance of a rider having a negative experience buying Tokyowheels. 
    <p><strong>We have 3 main guarantees. </strong><p>
    <ul><li>110% Guaranteed No Customs Taxes </li>
      <li>365 Day, 110% Moneyback Test Ride </li>
      <li>110% Speed Guaranteed </li></ul>
    <p>Here is a little more info on each of those. </p>
    <p>110% Guaranteed No Customs Taxes. We are experts in global logistics and shipping, and we ship out wheels so customers don't pay any fees or taxes. As a company philosophy we believe that in an ideal world all riders should have equal access to our products. A rider in L.A. should get his wheels for the same total price as a rider in Mozambique. Free worldwide shipping and guaranteed no customs taxes is a big part of our effort to make that a reality. It's also an integral part of how we plan to lead the cycling industry and expand globally. We back that up with a 110% Guarantee, which means that in the case that you have to pay any additional fees to get your wheels to your door, we'll refund you 100% the cost of those fees, plus an extra 10% to say thanks (This rarely happens, but when it does we go the extra mile to support our riders). </p>
    <p>365 Day, 110% Money-Back Test Ride. If you buy wheels from Tokyowheel, and don't like them, then we have a responsibility to do something major to help you out. It's only fair. We give you 365 days to test your wheels and make a decision if you want to keep them. If you don't like your wheels anytime during your test, then we will pay for the return shipping of the wheels, give a full refund, and an extra 10% cash back (via paypal). We don't want anyone to ever say they experienced anything short of amazing when dealing with us. That's our goal.<p/>
    <p>110% Speed Guaranteed. If you are looking for that extra speed edge, try Tokyowheel. We guarantee you will ride faster with our wheels, and if you don't, we'll pay for you to send them back, give you a full refund, and pay you an extra 10% as a thank you for trying them out.</p>
<p>As you can probably see, we're confident in our products. There would be no way that we could stay in business if our wheels were bad and we had a large number of people taking us up on these guarantees. The truth is we rarely have anyone that needs to use these guarantees, but if you happen to be one of the rare people who have a negative experience with Tokyowheel, then we appreciate the chance to show you how much we respect you as a rider and a customer. These guarantees are the official structured company policy that we use to show our respect and appreciation for our customers.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a46">What should I do if I have a problem with my wheels, can I get them repaired or return them?</button>
  <div id="a46" class="collapse"><p>If you have any problems with your wheels we will spare no expense in taking care of the issue for you. We will either replace your wheels, and pay for the return shipping of your damaged wheels, or in some cases it’s much easier for us to simply send spare parts and give you a credit towards having your wheel serviced at your local bike shop. In the case of a local bike shop servicing we will give you a refund equal to 110% the total cost of the servicing. In any case, we will support you fully as a rider and a customer.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a47">Can I return my wheels if I don’t like them?</button>
  <div id="a47" class="collapse"><p>Yes, you can return your wheels for a 110% money back refund anytime within 365 day of when you purchased. We will also pay the return shipping. We want you to be happy with your experience, and will do whatever it takes to make that happen, even in the event that you want to return your wheels.</p></div>
</div>  <!-- faq -->      
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->
    
    <div class='row'> <!-- learning section -->
    <div class='col-xs-1'  id='shipping-delivery'>
      <i class="fa fa-truck fa-3x text-warning"></i>
    </div><!-- col -->
    <div class='col-xs-11'>
      <h2 style='margin-top:0;'>Shipping & Delivery <small>Get answers to your questions about shipping, delivery, and taxes.</small></h2>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a40">Do you ship to my country, and how long will it take?</button>
  <div id="a40" class="collapse"><p>Yes, we ship for FREE to every country in the world (Including APO/FPO/DPO addresses). Shipping takes 7 ~ 14 days, on average. Occasionally it can take a few days longer do to delays by the shipping company, but usually you’ll get your wheels in 7 ~ 14 days from the time you place your order. <button data-toggle="modal" href="#shipping-rates" class="btn btn-link">See the full list of countries we ship to.</button></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a44">I have a race coming up, can you guarantee delivery by a certain date?</button>
  <div id="a44" class="collapse"><p>We would love to guarantee you a delivery date but, once your wheels leave our facility and are in the shipper’s hand’s we can’t make any time guarantees. In about 5% of cases the shipper may delay wheels a few days for checking, or doing some other internal processes. Because of this it’s impossible for us to guarantee an exact delivery date. You will find a shipping estimation when purchasing your wheels, and this is a very accurate estimation but we can not guarantee it, sorry.</p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a41">Will I have to pay any additional fees or customs taxes?</button>
  <div id="a41" class="collapse"><p>We 110% guarantee that you won’t pay any additional fees to receive your wheels. In the event that you have to pay any fees, we will refund you 110% the cost of those fees.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a42">I got an email from customs about my wheels, what should I do?</button>
  <div id="a42" class="collapse"><p>Before dealing with customs, send an email to Tokyowheel letting us know that customs contacted you. We will interface with the customs department on your behalf. We will provide them with all the necessary documents and information for them to release your wheels and continue with delivery. We may ask you to give customs a call to give them permission to complete delivery. Note: please don’t pay any fees or provide any invoices, documents, or information to the customs department before contacting Tokyowheel. We are experts in the customs process and we will do all the communicating on your behalf. This will ensure a speedy pass through the customs check process.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a43">I was told by the shipping company that I will have to pay a customs fee to receive my wheels, what should I do?</button>
  <div id="a43" class="collapse"><p>Please accept delivery of your wheels and if there are any associated fees, please pay them to the shipper. Take a photo of the receipt and email it to Tokyowheel, we will then process your 110% Guaranteed No Customs Taxes refund, and your account will be credited for the full amount of the fees plus an additional 10%.
</p></div>
</div>  <!-- faq -->      
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->
    
    <div class='row'> <!-- learning section -->
    <div class='col-xs-1'  id='manufacturing'>
      <i class="fa fa-wrench fa-3x"></i>
    </div><!-- col -->
    <div class='col-xs-11'>
      <h2 style='margin-top:0;'>Manufacturing & Testing <small>Learn how your wheels are made and tested to ensure performance and quality.</small></h2>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a35">What type of carbon do you use?</button>
  <div id="a35" class="collapse"><p>Every Tokyowheel rim is made from multiple densities and tensile strengths of carbon for the different structures in the rim. We use Toray T800 carbon for the majority of the aero rim structure and Tokyowheel trademarked Duraheat-R™ carbon on the braking surface for increased stopping performance and durability. </p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a38">Is your braking surface ‘basalt’, and how is the braking surface applied and why?</button>
  <div id="a38" class="collapse"><p>We moved away from basalt braking surfaces recently and developed the Duraheat-R™ process in collaboration with our factory engineers. Duraheat-R™ is a Tokyowheel trademark. Without giving too much away as it is a proprietary process and is one of the unique reasons why our wheels perform better on braking and it also helps make them more aesthetically pleasing as it makes for a better finish on the final product. Before we put the carbon layup into mold, the braking surface and the surface layer of the carbon rim - which is effectively cosmetic, - are glued into the mold first, as opposed to putting the braking surface directly on to the layup before placing it in the mold.</p></div>
</div>  <!-- faq -->  
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a39">What’s the failure temperature of your Duraheat-R™ carbon braking surface?</button>
  <div id="a39" class="collapse"><p>Duraheat-R™ is a 2 part material technology. The Duraheat-R™ resin is temperature resistant to 220 degrees Celsius which means that when you brake hard and your rim heats up due to friction, it won't delaminate or melt the carbon resin. The Duraheat-R™ carbon cloth also has thermally conductive filaments woven into it. These filaments help to spread heat away from any hot spots on the rim, keeping the max temperature on the rim lower. This creates a rim that can handle more stopping force with greater durability.</p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a30">How were Tokyowheel rims designed, are they unique designs, and who manufactures them?</button>
  <div id="a30" class="collapse"><p>In 2012 we switched the manufacture of our rims to a factory in China that is one of the worlds’ largest OEM manufacturing facilities of carbon rims of varying qualities. Many other brands of wheels are manufactured at this facility and therefore similar processes may be used in the manufacture of their own brand rims. However, our rims are produced in a proprietary mold for our rim shapes that involved many months of development, research and testing. Our input into that company’s manufacturing process has led to improvements in their own manufacturing methods and quality control throughout the facility and we are now leading them and collaborating in the improvement and development of other areas of their rim manufacture. The new Duraheat-R braking surface used on our rims, which the manufacturer is now beginning to use on some of their other OEM rims, was developed and tested in collaboration with Tokyowheel. The basalt braking surface currently used on rims supplied by other sellers is the previous generation technology. Duraheat-R is a better performing material that is highly temperature resistant. We are also very excited about forthcoming products we are developing jointly with them.</p>
    <p>Our wheels are built at a separate facility with an additional layer of quality control; therefore wheels received from Tokyowheel will not require any re-tensioning as is the case with some of the other brands mentioned on this thread. The wheels you receive from us will essentially be “plug and play”.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a32">Where are your wheels manufactured; Japan, or China?</button>
  <div id="a32" class="collapse"><p>We are an international company, we have our office in Tokyo, where we originally begun business. Over the years we have manufactured wheels and wheel parts all over the world. Currently we build our wheels in two locations. We do the final build of our Manufactured in USA wheels in Tokyo, and sell those only to the domestic Japanese market. The wheels that you are interested in are the EPIC and ELITE series road bike wheels, which we offer to the worldwide market. For these wheels our rim engineering and design is done in as a joint partnership between Tokyowheel and our partner engineers at our carbon manufacturing facility. All our hubs are made in Taiwan, including the DT Swiss 240s. Our ceramic bearings are made in the USA. Our spokes are either Sapim, made in Belgium, or our standard spokes which are made in Taiwan. We used to make our rims in Taiwan, but in 2013 we upgraded production to a new world-class facility in east China, near Taiwan. This is also where we hand build, and multi-test each wheelset. We hold every part of our production to strict quality tolerances, and there are more technical advancements in our rims than I have space to mention here (Aero profile, DuraHeat R braking surface, clincher tire hook, etc.). We produce each part of our products in what we believe to be the specific best facility in the world for that part. </p>
<p>P.S. Some people have an idea that made in China means low quality, bad products. We moved our production there for exactly the opposite reason. We can now provide a higher quality, higher performance wheel based upon the new EPIC and ELITE rims. We make a great product, and we stand behind it.</p>
    <p>Also, here is a recent review that says something about our manufacturing locations: </p>
<p>"I just bought a set of the Epic 38 clinchers with Sapim spokes and ceramic bearings and I love them. I know everyone is concerned about them being made in China but keep in mind most of the big names are manufactured overseas. As long as they comply with the owner's specs and the QA is in place it shouldn't be an issue. Now about the wheels. I received them professionally and securely boxed and in a timely manner. They look Fabulous! And let's face it, if you are a cyclist looking good is important. Weight - my set weighed in at 1370 Grams. 10 grams under advertised. Braking - compared to my Zipp 303 and Easton EC90 these are by far the best. No pulsing and a consistent feeling when applying pressure. I intentionally bombed down several steep, long climbs staying on the brakes trying to heat them up. They weren't even warm to the touch. Ride feel - they don't feel or sound hollow like my Zipps and smooth out the road pretty good. They hold speed and handle crosswinds well. Wheel Trueness - again I have been intentionally hitting rough areas of road, manholes, potholes and other imperfections trying to throw off the trueness and they have stayed true. As a matter of fact they showed up and remain perfectly true. Flexing - I'm 170 pounds and stand quite often toward the end of climbs. My Zipps flex and touch the brake pads when I'm hammering up climbs - these DO NOT. I'm telling you, I don't care where these wheels were made, they are the real deal. Concerning the owner's customer service. I've sent James no less than seven emails inquiring about the wheels and have never waited more than one day for a super comprehensive response. In closing, if you are looking for an exceptional set of carbon wheels at a Great price log into Tokyowheels. BTW: I'm a retired Marine living in Okinawa Japan and if these wheels were crap I wouldn't lie about it. Everything above is spot on." -Timothy Morello</p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a31">Can you show your manufacturing process?</button>
  <div id="a31" class="collapse"><p>Sure, just go to any wheel’s product page on tokyowheel.com (For Example the <a href='http://www.tokyowheel.com/products/epic-60-carbon-clincher-wheelset#manufacturing'>Tokyowheel Epic 60</a>) and you’ll find the Manufacturing & Testing section which explains our manufacturing and shows the process.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a37">What’s your wheel building process?</button>
  <div id="a37" class="collapse"><p>Our wheel building process is as follows:</p>
<p>We lace the spokes to the rim and true the wheel at low tension.</p>
<p>We exercise the spokes so that they can be ideally positioned for further tensioning. We then bring the spokes up to equal tension and measure with a micrometer and tensionometer.</p>
<p>Next we stress relieve the wheel by applying a sideways force on the hub with a machine. This essentially replaces the 'break in' period that you would experience with a new wheel and allows our wheels to stay truer throughout the life of the wheel. After a final truing they are ready for finishing. </p></div>
</div>  <!-- faq -->      
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a33">What testing is done on the wheels, and to which standard(i.e. UCI, CE, EN, DIN, SGS)?</button>
  <div id="a33" class="collapse"><p>Our fundamental testing standard is EN 14781.</p>
    <p><strong>In addition to that, our testing protocol is as follows:</strong></p>
<p>After molding and before wheelbuilding, we verify (with micrometers and a digital scale) that each rim’s roundness, lateral offset, and weight are within tolerances. We also test the braking surface width to ensure that the braking will be smooth and consistent.</p>
<p>We then test a random sampling from each batch of rims for braking performance and rim stiffness in our digital testing lab. This a key part of the manufacturing process and is one of the reasons why our wheels perform so well.</p>
<p>We run the wheel up to 30kph and then we apply a braking force and measure 7 performance variables, such as deceleration, stopping distance, and very importantly average and maximum rim temperature. By measuring these things we are able to continuously improve the braking performance of our wheels and their durability under heavy braking conditions.</p>
  <p>We test the stiffness of a section of rim laced to a spoke by applying a 3000 newton force to the spoke and measuring rim deflection in thousandths of a millimeter. This lets us optimize the stiffness of the rims, which results in more power transferred from the rider through the wheel into the road.</p>
<p>During final wheel building our wheels are tested for all the common quality standards, including: Surface Finish and Blemish, Roundness, Lateral Offset, Braking Surface Width, Weight, and Maximum Spoke Tension.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a34">Are Tokyowheels UCI certified?</button>
  <div id="a34" class="collapse"><p>No, Tokyowheels are not UCI certified, our fundament testing standard is EN 14781. We don’t certify our wheels with the UCI because we focus exclusively on non-professional racers and serious amateur riders. </p></div>
</div>  <!-- faq -->
      
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section --> 
    
    <div class='row'> <!-- learning section -->
    <div class='col-xs-1'  id='team'>
      <i class="fa fa-users fa-3x text-muted"></i>
    </div><!-- col -->
    <div class='col-xs-11'>
      <h2 style='margin-top:0;'>Jobs, Sponsorship, and Wholesale <small>Become part of Team Tokyowheel.</small></h2>
       <p style='margin-top:10px;'><button class="btn btn-default " data-toggle="modal" data-target="#dealer-opt-in-modal">Become a Dealer</button></p>
          <p><button class="btn btn-default " data-toggle="modal" data-target="#get-sponsored-opt-in-modal">Get Sponsored</button></p>
          <p><button class="btn btn-default " data-toggle="modal" data-target="#work-at-tokyowheel-opt-in-modal">Work at Tokyowheel</button></p>       
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a49">Will Tokyowheel sponsor me in my upcoming races?</button>
  <div id="a49" class="collapse"><p>Supporting riders is what we do best. We have a highly structured program for sponsoring athletes. <a href='#' data-toggle="modal" data-target="#get-sponsored-opt-in-modal">Get Started</a>.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a48">I would like to work in the cycling industry, is Tokyowheel hiring?</button>
  <div id="a48" class="collapse"><p>We are always looking for dedicated and inspired individuals to join the Tokyowheel team. If you are interested in working with a rapidly growing, next generation company like Tokyowheel, then <a href='#' data-toggle="modal" data-target="#work-at-tokyowheel-opt-in-modal">Get Started.</a></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#ab49">I have a lot of influence in my local cycling community, can you give me a discount if I promise to get my friends to buy Tokyowheels.</button>
  <div id="ab49" class="collapse"><p>The Tokyowheel Ambassador Program is a way for amateur riders, with influence in their community, to earn gear and money by introducing their peers to Tokyowheel. To get started, <a href='http://www.tokyowheel.com/pages/share'>Visit our Sharing Page.</a></p></div>
</div>  <!-- faq --> 
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#a50">I would like to sell Tokyowheels at my bike shop, how can I get started?</button>
  <div id="a50" class="collapse"><p>Great, we’d love to support you.<a href=’http://www.tokyowheel.com/pages/dealers’>Visit our the Tokyowheel Dealers page</a>, and see if there are any other dealers in your area. Click the ‘<a href='#' data-toggle="modal" data-target="#dealer-opt-in-modal">Become a Tokyowheel Dealer</a>’ button to get started.</p></div>
</div>  <!-- faq -->
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#51">I would like to be a distributor of Tokyowheel in my country, what should I do?</button>
  <div id="a51" class="collapse"><p>At Tokyowheel we built our business on a very modern business model. This is one of the main reasons why Tokyowheel has become as popular and well reviewed as we have. Part of our business model as that we don't focus on the old Distributor/Dealer system for supporting international customers. Instead of this we give free shipping worldwide, 110% guaranteed no customs taxes, and 365 Day test ride + 110% money back paid returns. We also offer over 7000 possible customizations of our wheels. We do all of this at a price point far lower than you will find in any local bike shop. This is a key part of the Tokyowheel advantage. For support and demo rides we have a network of Tokyowheel ambassadors in each country who are happy to meet up and give a demo ride of their wheels. We also have a structured position designed specifically for individuals and companies that are interested in becoming distributors. Instead of the classic distributor model, we have a more modern business model that consists of country managers. Country managers take the place of distributors in their country, without the need for warehouse stocking and the bulk of basic admin tasks. These things are handled by Tokyowheel head quarters, so that Country Managers can focus on brand building, team building, sponsoring athletes, and forming relationships with customers and the community. <a href='#' data-toggle="modal" data-target="#work-at-tokyowheel-opt-in-modal">Click Here To Get Started.</a></p></div>
</div>  <!-- faq -->       
    </div><!-- col -->
  </div><!-- row --> 
    <hr><!-- end learning section -->
<% if false%>
<div class='faq'>  
   <button class='btn btn-link' data-toggle="collapse" data-target="#"></button>
  <div id="" class="collapse"><p></p></div>
</div>  <!-- faq --> 
<% end %>
  