<div id='manufacturing' class='row-bg-medium'>
<div class="container">  
  <h2 class="product-info-title text-center">Manufacturing & Testing</h2> 
<div class='row'>
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-carbon-prepreg_medium.jpg?23560" alt="Carbon Prepreg">
      <div class="caption">
        <h4><span class='text-muted'>1.</span> Carbon Prepreg</h4>
        <p>We use Toray T800 carbon for the majority of the aero rim structure and Tokyowheel trademarked Duraheat-R™ carbon on the braking surface for increased stopping performance and durability.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-carbon-sheer_medium.jpg?23600" alt="Carbon Sheer">
      <div class="caption">
        <h4><span class='text-muted'>2.</span> Carbon Sheer</h4>
        <p>Every Tokyowheel rim is made from multiple densities and tensile strengths of carbon for the different structures in the rim. Over 20 separate pieces are precision cut for each rim.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-layup_medium.jpg?23560" alt="Preliminary Layup">
      <div class="caption">
        <h4><span class='text-muted'>3.</span> Preliminary Layup</h4>
        <p>The carbon prepreg is assembled around a pneumatic core, which will provide an outward force on the rim during carbon curing.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-carbon-mold_medium.jpg?23560" alt="Braking Surface and Finish Layer of Carbon in Mold">
      <div class="caption">
        <h4><span class='text-muted'>4.</span> Braking Surface and Finish Layer of Carbon in Mold</h4>
        <p>Before we put the carbon layup into mold, the Duraheat-R™ braking surface and the surface layer of the carbon rim - which is effectively cosmetic, - are glued into the mold.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
    </div><!-- row -->
<div class='row'>
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-carbon-mold-2_medium.jpg?23560" alt="Layup in Mold">
      <div class="caption">
        <h4><span class='text-muted'>5.</span> Layup in Mold</h4>
        <p>The full layup is placed into a proprietary 10-piece mold, the pneumatic core is pressurized, and the carbon is cured at high temperature for 45 minutes.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-preliminary-roundness-width-weight-qc_medium.jpg?23560" alt="Initial Roundness, Braking Surface Width, and Weight Quality Control">
      <div class="caption">
        <h4><span class='text-muted'>6.</span> Initial Roundness, Braking Surface Width, and Weight Quality Control</h4>
        <p>We verify (with micrometers and a digital scale) that each rim’s roundness, lateral offset, and weight are within tolerances. We also test the braking surface width to ensure that the braking will be smooth and consistent.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-cnc-spoke-hole-drilling_medium.jpg?23560" alt="CNC Spoke Hole Drilling">
      <div class="caption">
        <h4><span class='text-muted'>7.</span> CNC Spoke Hole Drilling</h4>
        <p>We use a computer controlled drilling machine to customize spoke hole position and angle to improve power transfer to the wheel.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-braking-surface-digital-testing_medium.jpg?23560" alt="Digital Braking Surface Testing">
      <div class="caption">
        <h4><span class='text-muted'>8.</span> Digital Braking Surface Testing</h4>
<p>We run the wheel up to 30kph and then we apply a braking force and measure 7 performance variables, such as deceleration, stopping distance, and very importantly average and maximum rim temperature. By measuring these things we are able to continuously improve the braking performance of our wheels and their durability under heavy braking conditions. </p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
      </div><!-- row -->
<div class='row'>
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-rim-stiffness-qc_medium.jpg?23560" alt="Digital Rim Stiffness Testing">
      <div class="caption">
        <h4><span class='text-muted'>9.</span> Digital Rim Stiffness Testing</h4>
        <p>We test the stiffness of a section of rim laced to a spoke by applying a 3000 newton force to the spoke and measuring rim deflection in thousandths of a millimeter. This lets us optimize the stiffness of the rims, which results in more power transferred from the rider through the wheel into the road. </p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col --> 
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-wheelbuilding-workstation_medium.jpg?23560" alt="Wheelbuilding Workstation">
      <div class="caption">
        <h4><span class='text-muted'>10.</span> Wheelbuilding Workstation</h4>
        <p>We lace the spokes to the rim and true the wheel at low tension. We exercise the spokes so that they can be ideally positioned for further tensioning. We then bring the spokes up to equal tension and measure with a micrometer and tensionometer. </p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
    <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-stress-relief_medium.jpg?23600" alt="Pre-Stress Break-In">
      <div class="caption">
        <h4><span class='text-muted'>11.</span> Stress Relief & Break-In</h4>
        <p>Next we stress relieve the wheel by applying a sideways force on the hub with a machine. This essentially replaces the 'break in' period that you would experience with a new wheel and allows our wheels to stay truer throughout the life of the wheel. After a final truing they are ready for finishing. </p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
  <div class='col-md-3 col-sm-6'>
    <div class="thumbnail">
      <img src='http://cdn.tokyowheel.com/loader.gif' data-src="http://cdn.shopify.com/s/files/1/0210/5956/files/tokyowheel-james-ferrer-crop_medium.jpg?23597" alt="Finished Tokyowheel">
      <div class="caption">
        <h4><span class='text-muted'>12.</span> Finished Tokyowheel</h4>
        <p>We finish your wheels with your choice of 12 different colors, and pack them securely for shipping to your door.</p>
      </div><!-- caption -->
    </div><!-- thumbnail -->
  </div><!-- col -->
</div><!-- row -->
 
  <div id='horizontal-opt-in' class='well well-sm'>
  <div class='row'>
      <div class='col-sm-7 col-sm-offset-1'>
        <h3 class=''>Learn <em><strong>WHY</strong></em> we manufacture our wheels this way.</h3> 
      </div><!-- col-sm-7 -->
      <div class='col-sm-3'>
        <button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#opt-in-modal">Become an Expert!</button>
      </div><!-- col-sm-3 -->
  	</div><!-- row -->
  </div><!-- well -->
  
  <hr class="featurette-divider product">
</div><!-- container -->
</div><!-- manufacturing -->


