
<div id='notice-bar' class='' >
  <div class='container'>
    <a href='http://www.tokyowheel.com/products/epic-performance-system'><span class='countdown'>Epic Performance System™ Sale Ends In {% <span class='days'>00</span> <span class="days_ref">days</span>, <span class='hours'>00</span> <span class="hours_ref">hours</span>, <span class='minutes'>00</span> <span class="minutes_ref">minutes</span>, <span class='seconds'>00</span> <span class="seconds_ref">seconds</span></span></a><a href='http://www.tokyowheel.com/products/epic-performance-system' class='btn btn-success'>Save Now</a>
  </div><!-- container -->
</div><!-- shipping-bar -->
 <!-- countdown timer -->
<script class="source" type="text/javascript">
        $('.countdown').downCount({
            date: '11/29/2015 08:59:59'
        }, function () {
            
        });
  
    </script> 
<!-- end countdown timer -->
    <!-- end holiday sale banner -->
