<div class='embed-responsive embed-responsive-16by9'>
    <hr>
    <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=z6_d12VXj0Dc.kmmjl7fi14kY" width="640" height="480"></iframe>
    <hr>
</div>
