
<div class='container'>
<!-- begin holiday sale bannere -->
<div class="jumbotron jumbotron4">
<div class="container text-center">

  <h1>SUMMER SALE</h1>
  <hr>
<h2>$125.00 OFF ALL WHEELSETS</h2>
  <hr>
  <h2 class='countdown'>SALE ENDS in <span class='days'>00</span> <span class="days_ref">days</span>, <span class='hours'>00</span> <span class="hours_ref">hours</span>, <span class='minutes'>00</span> <span class="minutes_ref">minutes</span>, <span class='seconds'>00</span> <span class="seconds_ref">seconds</span></h2>
  <p>USE DISCOUNT CODE AT CHECKOUT</p>  
  <div><button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#sale-opt-in-modal">Get Discount Code!</button></div>
  <p><small>Discount will be taken from your order on the final step of checkout. Prices advertised are prices before discount.</small></p>
</div>
</div>
  
</div><!-- container -->
  <!-- countdown timer -->
<script class="source" type="text/javascript">
        $('.countdown').downCount({
            date: '12/25/2014 00:00:00'
        }, function () {
            
        });
    </script> 
<!-- end countdown timer -->
    <!-- end holiday sale banner -->
<%= render :partial => 'spree/shared/why_modal' %>