
  <%-#TODO Hide on the following thank-you-become-a-tokyowheel-dealer dealers wheels tracking orders contact stage sale-sign-up-thank-you index cart -%>
<div class='container'>
  <div class="jumbotron jumbotron5">
<div class="container text-center">
<div class="row">
<div class="col-sm-6">
  <a href="http://www.tokyowheel.com/pages/wheels" class='' style="color:white"><h1>SUMMER SALE</h1></a>
  <a href="http://www.tokyowheel.com/pages/wheels" class='' style="color:white"><p class='countdown'>SALE ENDS in <span class='days'>00</span> <span class="days_ref">days</span>, <span class='hours'>00</span> <span class="hours_ref">hours</span>, <span class='minutes'>00</span> <span class="minutes_ref">minutes</span>, <span class='seconds'>00</span> <span class="seconds_ref">seconds</span></p></a>
  </div> <!-- col-sm-6 --> 
  <div class="col-sm-6">
     <hr>
    <a href="http://www.tokyowheel.com/pages/wheels" class='' style="color:white"><h2>$125.00 OFF ALL WHEELSETS</h2></a>
   <hr>
    <div class='row'>
    <div class='col-sm-6'><p>USE DISCOUNT CODE:</p></div><!-- col-sm-6 --> 
    <div class='col-sm-6'><strong><button class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#sale-opt-in-modal">Get Discount Code!</button></strong></div>
    </div><!-- row --> 
  </div>  <!-- col-sm-6 -->
</div><!-- row -->
</div><!-- container -->
</div><!-- jumbotron -->
  </div><!-- container -->
   <!-- countdown timer -->
<script class="source" type="text/javascript">
        $('.countdown').downCount({
            date: '07/05/2014 00:00:01'
        }, function () {
            
        });
    </script> 
<!-- end countdown timer -->



	<%= render partial: 'spree/shared/sale_modal_opt_in' %>
  <%= render partial: 'spree/shared/why_modal' %>
