<div class='navbar-inverse shipping-bar' >
  <div class='container'>
    <span><a href='http://www.tokyowheel.com/pages/information#shipping-delivery' class=''>Free Express Shipping<span id="country-name"></span> <span id="country-flag"></span></a></span>
    <script>// <![CDATA[
jQuery.ajax({
  url: '//freegeoip.net/json/',
  type: 'POST',
  dataType: 'jsonp',
  success: function (location) {
  jQuery('#country-name').html(' to '+location.country_name);
  jQuery('#country-flag').html('<img src="https://cdn.shopify.com/s/files/1/0210/5956/t/17/assets/'+location.country_code.toLowerCase()+'.png?29695">');         
  }
});
// ]]></script>
  </div><!-- container -->
</div><!-- shipping-bar -->