<!-- Why? Modal -->
<div class="modal fade" id="why" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Why Such A Long Wait Wait?</h4>
      </div>
      <div class="modal-body">
        <div class='row'>
        <h4 class='countdown'><strong>Why do I have to wait <span class='days'>00</span> <span class="days_ref">days</span> for my wheels to ship?</strong></h4>
        <p>
          <strong>Great question.</strong> Currently there is a holiday for the Lunar New Year. This holiday ends in <span class='countdown'><span class='days'>00</span> <span class="days_ref">days</span></span>, and is a time that many companies are closed. At Tokyowheel we don't take time off for this holiday, but some of the companies we cooperate with, such as our shipping companies, are closed. Because of this, we can’t reliably deliver wheels until the holiday is over in <span class='countdown'><span class='days'>00</span> <span class="days_ref">days</span></span>.</p>
        <p>We know that fast shipping is a very important part of buying your new wheels. We don't like the fact that you have to wait so long for your wheels. To make things fair for you, we are having a sale. If you order during the waiting period, you can take advantage of the sale. When the waiting period ends, the sale ends, and everyone who ordered during the sale gets their wheels. We think its a great way to balance out a tough situation. </p>
        
        <p>Let us know what you think at <a href='mailto:questions@tokyowheel.com'>questions@tokyowheel.com</a></p>
        
        <p class='text-right'>James Ferrer - Tokyowheel</p>
      </div><!-- row -->
        <script class="source" type="text/javascript">
        $('.countdown').downCount({
            date: '02/12/2014 08:00:00'
        }, function () {
            
        });
    </script> 
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
