
 <!-- klaviyo opt in modal -->
  <div class="modal fade opt-in-modal" id="work-at-tokyowheel-opt-in-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
<div class="modal-body">
<div class="well">
<h1 class='text-center text-danger'><strong>Work at Tokyowheel</strong></h1>
  <h2 class="form-signin-heading text-center">See Positions & <em><strong>Apply</strong></em>. </h2>
  
 <form id="email_signup_qork_at_tokyowheel" class="" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
  <input type="hidden" name="g" value="fvRBfM">
  <input type="hidden" name="$fields" value="first_name" />

  <div class="klaviyo_field_group">
    <input type="text" class="form-control input-lg" value="" name="first_name" id="k_id_name" placeholder="Your First Name" />
    <input type="email" class="form-control input-lg" value="" name="email" id="k_id_email" placeholder="Your Best Email" />
   <p><i class='fa fa-lock text-yellow'></i> <small>We Respect Your Privacy</small></p>
   </div>
  <div class="klaviyo_messages">
    <div class="success_message" style="display:none;"></div>
    <div class="error_message" style="display:none;"></div>
    </div>
  <div class="klaviyo_form_actions">
    <button type="submit" class="klaviyo_submit_button btn btn-lg btn-primary btn-block">Get It!</button>
  </div>
</form>
<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
<script type="text/javascript">
  KlaviyoSubscribe.attachToForms('#email_signup_qork_at_tokyowheel', {
    hide_form_on_success: true,
    success_message: "<h2 class='text-center text-success'>Success!</h2><h4 class='text-center'>Check your email for a confirmation message.</h4><button class='btn btn-default btn-lg btn-block' data-dismiss='modal' aria-hidden='true'>Close</button>"
  });
</script>
</div>
<!-- well --></div>
</div>
<!-- /.modal-content --></div>
<!-- /.modal-dialog --></div>
<!-- /.modal -->