<h2><%= link_to ERB.new(blog_entry.title).result(binding) , blog_entry_permalink(blog_entry) %></h2>

<div class="blog_entry_summary">
  <%== ERB.new(blog_entry.entry_summary).result(binding) %>
  <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(blog_entry) %></span>
</div>

<%= render :partial => 'spree/blog_entries/blog_entry_details', :locals => {:blog_entry => blog_entry} %>
