<div class='container'>
	  <div class="col-md-9">
<div id="blog_entry_container" class="">
  <% if !@blog_entries.empty? %>
    <div id="blog_entry_entries">
      <% @blog_entries.each do |blog_entry| %>
          <%= render :partial => 'spree/blog_entries/blog_entry', :locals => {:blog_entry => blog_entry} %>
      <% end %>
    </div><!-- blog_entry_entries -->
    <%= paginate @blog_entries %>
  <% else %>
    <p id="no_entries"><%= Spree.t(:no_blog_entries) %></p>
  <% end %>
</div><!-- blog_entry_container -->
</div><!-- col -->
<div class="col-md-3">
<%= render :partial => 'spree/blog_entries/blog_sidebar' %>
</div><!-- col -->	
</div><!-- container -->